[Unit]
Description=Listen to submission queue and request PDF to webnode if the PDF does not exist yet
StartLimitIntervalSec=0
Wants=network.target network-online.target nfs-client.target
After=network-online.target nfs-client.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=e-prints
ExecStart=/opt_arxiv/e-prints/arxiv/arxiv-browse/script/sync_prod_to_gcp/webnode-pdf-request.sh

[Install]
WantedBy=multi-user.target
