{% extends "base.html" %}

{%- block content -%}
<h1>PDF unavailable</h1>

<p>Our automated source to PDF conversion system was unable to produce PDF for the paper
  <a href="{{url_for('browse.abstract', arxiv_id=arxiv_id.ids)}}">{{arxiv_id.ids}}</a>.</p>

<p>The reason for failure is recorded as: <b>{{msg}}</b>
</p>

<p>Return to the <a href="{{url_for('browse.abstract',
   arxiv_id=arxiv_id.ids)}}">abstract</a> for an link to
   the <a href="{{url_for('src.src', arxiv_id_str=arxiv_id.ids)}}">source</a> or
   to find an email address to contact the author.</p>

<p>For help regarding the automated source to PDF system,
  contact <a href="mailto:help@arxiv.org">help@arxiv.org</a>.</p>
{%- endblock -%}
