{% extends "base/base.html" %}

{%- block content -%}
<h1>PDF unavailable ...</h1>

<p>Our <b>automated</b> source to PDF conversion system was unable to produce PDF for the paper:
  <a href="{{url_for('browse.abstract', arxiv_id=arxiv_id.ids)}}">{{arxiv_id.ids}}</a>.</p>

<p>Incomplete or corrupted files were submitted. This failure can be resolved by replacing missing or corrupted files. The reason for failure is recorded as:<br />
  <b>{{msg}}</b></p>

<p>Return to the<a href="{{url_for('browse.abstract', arxiv_id=arxiv_id.ids)}}">abstract</a> for an
  alternative link to the
  <a href="{{url_for('src.src', arxiv_id_str=arxiv_id.ids)}}">source</a>, or to find an
  email address to contact the author.</p>

<p>For help regarding the automated source to PDF system,
  contact <a href="mailto:help@arxiv.org">help@arxiv.org</a>,
  remembering to specify the problematic archive and paper number.</p>

{%- endblock -%}
