{% extends "base/base.html" %}

{# This is when an html version is unavailable for some reason, 
    either we havent converted the latex or failed to, or its another type of document that isnt latex or native html #}

{%- block content -%}
<h1>No HTML for '{{arxiv_id.idv}}'</h1>
<p>Our automated LaTeX to HTML conversion system has failed to produce HTML for the paper.</p>
    
   <p>Files submitted are not LaTeX or HTML. This error can be resolved by replacing files with LaTeX or HTML files.</p>

   <p>If you think this is an error or require help with the automated LaTeX to HTML system, please contact <a href="mailto:help@arxiv.org">help@arxiv.org</a>.</p>
{%- endblock -%}
