Dockerfile
README.md
*.pyc
*.pyo
*.pyd
__pycache__
.pytest_cache

deploy
docs
htmlcov
data
bin
private_vars.sh
pyrightconfig.json
.dir-locals.el
.python-version

.vscode
.git
.github
.hypothesis
.mypy_cache
.pytest_cache
.coverage
.coveragerc
