language: python
sudo: required
cache: pip
env:
  MIN_PYLINT_SCORE: 8
os:
  - linux
python:
  - "3.6"
script:
  - pip install pipenv
  - pipenv sync --dev
  - pipenv run nose2 --with-coverage
  - tests/lint.sh
  - tests/docstyle.sh
after_success:
  - coveralls
