[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses = "*"
python-dateutil = "*"
Flask-API = "==2.0"
Flask-SQLAlchemy = "==2.4.4"  # ARXIVNG-3649
MarkupSafe = "*"
SQLAlchemy = "==1.3.20" # ARXIVNG-3649
pytz = "*"
mysqlclient = "==1.4.1"
"mmh3" = "*"
aiohttp = "==3.6.2"
flask = "==1.1.4"
validators = "*"
mypy-extensions = "*"
flask-wtf = "*"
arxiv-auth = "==0.4.2rc1"
mypy = "==0.800"
jinja2 = "==2.10.1"
flask-s3 = "*"
arxiv-base = "==0.17.8"
retry = "==0.9.2"
geoip2 = "*"
bcrypt = "*"
werkzeug = "==1.0.1"
pg8000 = "*"

[dev-packages]
pylama = "*"
"nose2" = "*"
sqlacodegen = "*"
Flask-Testing = "*"
pycodestyle = "*"
pydocstyle = "*"
pylint = "==2.3.0"
pytest = "*"
pytest-html = "*"
"ansi2html" = "*"
hypothesis = "*"
"beautifulsoup4" = "*"
pyhamcrest = "*"
pytest-easyread = "*"
weighted-levenshtein = "*"
coverage = "*"
coveralls = "*"
sphinx = "*"
sphinx-autodoc-typehints = "*"
pg8000 = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
