#pwc-output {
    padding: 7px;
}

#pwc-output > h3 {
    margin-top: 25px;
}

.pwc-icon {
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
    margin-right: 5px;
}

.pwc-icon-primary {
    margin-right: 0;
    top: 8px;
    width: 27px;
    height: 27px;
}

.pwc-avatar-box {
    display: inline-block;
}
