/* latest update: 12/02/2024 v1.15*/

body {
    margin: 0;
    padding: 0;
}
.slider-wrapper {
    background-color: #084ea6;
    color: #fff;
    font-family: "Lucida Grande", helvetica, arial, verdana, sans-serif;
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
    width: 100%;
}
.slider-wrapper .close-slider {
    position: absolute;
    right: 10px;
    top: 10px;
}
.slider-wrapper .close-slider:hover {
    opacity: 0.5;
}
.slider-wrapper .copy-donation {
    border-right: 1px solid #78797c;
    float: none;
    width: 100%;
}
.slider-wrapper .columns {
  align-items: center;
}
.slider-wrapper .amount-donation {
    float: none;
    width: 100%;
}
.slider-wrapper h1 {
    /* color: #fe9600; */
    color: #F7BB59;
    font-size: 20px;
    padding: 0 20px;
}
.slider-wrapper p {
    color: #fff;
    font-size: 16px;
    padding: 0 20px;
    text-shadow: 1px 1px #000;
}
.slider-wrapper a {
    /* color: #fe9600; */
    color: #F7BB59;
    text-decoration: none;
    /* text-shadow: 1px 1px #000; */
}
.slider-wrapper a:hover {
    color: #78797c;
}
.slider-wrapper .wrapper {
    margin: 20px 0 0 20px;
    width: 88%;
}
.slider-wrapper .amounts {
    clear: both;
}
.slider-wrapper .other-amount {
    display: inline-block;
    float: left;
}
.slider-wrapper .donate-cta {
    display: inline-block;
    float: left;
}
.slider-wrapper .survey-cta {
    display: inline-block;
    float: left;
    margin-left: 20px;
}
.slider-wrapper .amount-btn {
    background-color: #268fff;
    border: 0 solid #000000;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    margin-right: 8px;
    margin-top: 5px;
    padding: 20px;
    width: 40px;
}
.slider-wrapper .amount-btn:hover {
    color: #fff;
    opacity: 0.5;
}
.slider-wrapper .other-amount input {
    background-color: transparent;
    border: 1px solid #9e9fa1;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin-right: 5px;
    margin-top: 20px;
    padding: 20px;
    width: 155px;
}
.slider-wrapper .donate-cta a {
    background-color: #F5A623;
    border: 0 solid #9e9fa1;
    border-radius: 5px;
    color: #4C2F00;
    display: inline-block;
    font-size: 20px;
    margin-right: 5px;
    margin-top: 20px;
    padding: 16px 27px;
}
.slider-wrapper .survey-cta a {
    background-color: #fe9600;
    border: 0 solid #9e9fa1;
    border-radius: 5px;
    color: #fff;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
    padding: 8px 13px;
}
.slider-wrapper .donate-cta a:hover {
    opacity: 0.5;
}
.slider-wrapper .survey-cta a:hover {
    opacity: 0.5;
}
.slider-wrapper .amount-btn.active {
    background-color: #fe9600;
}
.slider-wrapper .donate-cta p {
    font-size: 9px;
    margin-left: 0;
    padding-left: 0;
    text-align: center;
}
@media (min-width: 900px) {
    .slider-wrapper .copy-donation {
        float: left;
        width: 65%;
    }
    .slider-wrapper .amount-donation {
        float: right;
        width: 30%;
    }
    .slider-wrapper .wrapper {
        margin: 20px auto 0;
        width: 88%;
    }
    .slider-wrapper .amounts {
        clear: both;
    }
    .slider-wrapper .other-amount {
        float: left;
    }
    .slider-wrapper .donate-cta {
        float: right;
        margin-right: 15%;
    }
}
@media (min-width: 983px) {
    .slider-wrapper .copy-donation {
        float: left;
        width: 65%;
    }
    .slider-wrapper .amount-donation {
        float: right;
        width: 30%;
    }
}
@media (min-width: 1090px) {
    .slider-wrapper .copy-donation {
        float: left;
        width: 80%;
    }
    .slider-wrapper .amount-donation {
        float: right;
        width: 18%;
    }
}
@media (min-width: 1200px) {
    .slider-wrapper {
        margin: 0 auto;
    }
    .slider-donation {
        background-color: #4d4f53;
        width: 100%;
    }
}

.survey-results {
    display: none;
    width: 100%;
    background-color: #f0f1f2;
    padding: 12px 10px;
    margin: 0;
}

.survey-results p {
    font-family: "Lucida Grande",helvetica,arial,verdana,sans-serif;
    font-size: 18px;
    text-align: center;
    margin: 0;
}

.survey-results p a {
    text-decoration: none;
    color: #b31b1b;
}

.survey-results p a:hover {
    opacity: .7;

}

.survey-results .close-survey-banner {
    position: absolute;
    top: 12px;
    right: 10px;
}

/********** BPS styles **********/
.slider-wrapper .copy-donation.bps-banner .banner-smileybones-icon {
  float: left;
  margin: 20px 15px;
  width: 50px;
}
.slider-wrapper.bps-banner {
  background-color: #b31b1b;
  color: #ffffff;
}
.slider-wrapper .copy-donation.bps-banner {
  margin-left:15px;
}
.slider-wrapper .copy-donation.bps-banner h2 {
  color: #ffffff;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 1.1em;
}
.slider-wrapper .copy-donation.bps-banner p {
  color: #f9f7f7;
  text-shadow: none;
  margin-top:5px;
  padding:0;
}
.slider-wrapper .copy-donation.bps-banner p a {
  color: #f5e98e;
  text-shadow: 1px 1px #831212;
}

.slider-wrapper .amount-donation.bps-banner .donate-cta a {
  background-color: #b31b1b;
  margin: 10px 5px;
  color: #000000;
  font-size: 1em;
}
.slider-wrapper .amount-donation.bps-banner .donate-cta a:hover {
  opacity: 1;
}
.close-slider.bps-banner img {
  width: 25px;
}
.slider-wrapper .copy-donation.bps-banner {
  border: 0;
}
.banner-btn-grad {background-image: linear-gradient(to right, #c19720 0%, #f5e98e  51%, #ffed6c  100%)}
.banner-btn-grad {
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 0 20px #831212;
  border-radius: 10px;
  display: block;
}
.banner-btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

@media (max-width: 768px) { 
  .slider-wrapper .amount-donation{
    display: flex;
    justify-content: center;
  }
  .slider-wrapper .donate-cta {
    float: none;
 }
  .slider-wrapper .copy-donation.bps-banner {
    width: 90%;
    text-align: center;
 }
}


/*banner style overrides*/
.slider-wrapper.bps-banner.special-color {
  background-color: #000;
  color: #ffffff;
}
.slider-wrapper.bps-banner.forum {
  background-color: #000;
  color: #ffffff;
}
.slider-wrapper.bps-banner.forum .bps-banner-image {
  float: left;
  margin: 22px 32px 20px 15px;
  height: 50px;
  width: auto;
}
.slider-wrapper.bps-banner.forum .copy-donation.bps-banner h2 {
  color: #c4d82e;
  font-size: 1em;
}
.slider-wrapper.bps-banner.forum .copy-donation.bps-banner p {
  color: #fff;
  text-shadow: none;
}
.slider-wrapper.bps-banner.forum .copy-donation.bps-banner p a {
  color: #c4d82e;
  text-shadow: none;
  text-decoration: underline;
}
.slider-wrapper.bps-banner.forum .banner-btn-grad {
  box-shadow: 0 0 20px #31533a;
}
@media (max-width: 769px) {
  .slider-wrapper.bps-banner.forum {
    display:none;
  }
}

/*green banner variation */
.slider-wrapper.bps-banner.forum.green {
  background-color: #c4d82e;
  color: #000;
}
.slider-wrapper.bps-banner.forum.green .bps-banner-image {
  margin: 8px 32px 8px 15px;
  height: 70px;
}
.slider-wrapper.bps-banner.forum.green .copy-donation.bps-banner h2 {
  color: #000;
  font-size: 1.35em;
  margin-top: 8px;
  margin-bottom: 8px;
}
.slider-wrapper.bps-banner.forum.green .copy-donation.bps-banner p {
  color: #000;
  text-shadow: none;
}
.slider-wrapper.bps-banner.forum.green .copy-donation.bps-banner p a {
  color: blue;
  text-shadow: none;
  text-decoration: underline;
}

/*blue banner variation*/
.slider-wrapper.bps-banner.forum.blue {
  background-color: #a5d6fe;
  color: #000;
}
.slider-wrapper.bps-banner.forum.blue .bps-banner-image {
  margin: 8px 32px 8px 15px;
  height: 70px;
}
.slider-wrapper.bps-banner.forum.blue .copy-donation.bps-banner h2 {
  color: #1f5e96;
  font-size: 1.35em;
  margin-top: 8px;
  margin-bottom: 8px;
}
.slider-wrapper.bps-banner.forum.blue .copy-donation.bps-banner p {
  color: #000000;
}
.slider-wrapper.bps-banner.forum.blue .copy-donation.bps-banner p a {
  color: #0000FF;
}
.slider-wrapper.bps-banner.forum.blue .copy-donation.bps-banner p a:hover {
  color: #000000;
}
.slider-wrapper.bps-banner.forum.blue .amount-donation.bps-banner .donate-cta a {
  color: white;
}
.slider-wrapper.bps-banner.forum.blue .amount-donation.bps-banner .donate-cta .banner-btn-grad {
  background-image: linear-gradient(to right, #062c4f 0%, #1f5e96  51%, #062c4f  100%);
}

/*grey banner variation*/
.slider-wrapper.bps-banner.forum.grey {
    background-color: #e1e1e1;
    color: #000;
}
.slider-wrapper.bps-banner.forum.grey .columns {
    margin: 7px 12px;
}
.slider-wrapper.bps-banner.forum.grey .copy-donation.bps-banner {
  border: 1px solid grey;
  background-color: white;
  padding: 2px 10px;
  margin: 5px 15px 5px 5px;
  font-family: monospace;
  border-radius: 8px;
}
.slider-wrapper.bps-banner.forum.grey .bps-banner-image {
  height: 50px;
}
.slider-wrapper.bps-banner.forum.grey .copy-donation.bps-banner h2 {
  color: #000;
  font-size: 1em;
  margin: 8px 0px;
}
.slider-wrapper.bps-banner.forum.grey .copy-donation.bps-banner p {
  font-size: 1em;
  color:#000;
}
.slider-wrapper.bps-banner.forum.grey .copy-donation.bps-banner p a {
  color:blue;
}
.slider-wrapper.bps-banner.forum.grey .copy-donation.bps-banner p a:hover {

}
.slider-wrapper.bps-banner.forum.grey .amount-donation.bps-banner .donate-cta .banner-btn-grad {
  background-image: linear-gradient(to right, #b3bf35 0%, #dee68f 51%, #c1cf35 100%);
  font-size: 16px;
  padding: 10px 15px;
}

/*END banner variations*/
