.visually-hidden {
  clip-path: inset(100%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.button-and-tooltip {
  position: relative;
  display: inline;
}
.button-and-tooltip button {
  background: transparent;
  border: none;
  box-shadow: none;
  position: absolute;
}
[role="tooltip"] {
  display: none;
  position: absolute;
  top: -8px;
  left: 28px;
  width: 250px;
  background-color: #f7fafc;
  border:1px solid black;
  padding:4px 10px;
  border-radius: 5px;
}
@media screen and (max-width: 480px) {
  [role="tooltip"] {
    width: 150px;
  }
}
button:hover + [role="tooltip"],
button:focus + [role="tooltip"] {
  display: block;
}
.left-corner {
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-right: 5px solid #000;
  border-left: 5px solid transparent;
  border-top: 5px solid transparent;
  left: -10px;
  top: 8px;
  position: absolute;
}
