{%- extends "base.html" -%}
{% import "list/list_macros.html" as list_macros with context %}

{% block title %}{{list_ctx_name}} {{list_month_name}} {{list_year}}{% endblock %}

{% block head %}
  {{super()-}}
  <script src="{{ url_for('static', filename='js/mathjaxToggle.min.js') }}" type="text/javascript"></script>
  <script type="text/javascript" language="javascript">mathjaxToggle();</script>
{% endblock head %}

{%- block content %}
<div id='content-inner'>
<div id='dlpage'>
  <h1>{{list_ctx_name}}</h1>

  {% block list_index %}
    {# empty by default and intended to be overridden in your templates #}
  {% endblock %}

  {{ list_macros.page_divs() }}

  {% block pre_items %}
    {# empty by default and intended to be overridden in your templates #}
  {% endblock %}

  {% block items %}
    {{ list_macros.item_list( listings, '' ) }}
  {% endblock %}

  {{ list_macros.page_divs() }}
</div>
</div>
{%- endblock %}


