{% import "list/list_macros.html" as list_macros with context %}

  {% block content %}
  {% set ids = item.arxiv_id %}

  <dt>
    <a href ="{{url_for('browse.abstract', arxiv_id=ids)}}" title="Abstract" id="{{ids}}">
      arXiv:{{ ids }}
    </a>
    {{ list_macros.dl_links( item ) }}
  </dt>
  <dd>
    <div class='meta'>
      <div class='list-title mathjax'><span class='descriptor'>Title:</span>
        {{item.title}}
      </div>
      <div class='list-authors'>
        {{- list_macros.do_author_list( item ) -}}
      </div>

      {% if item.comments %}
      <div class='list-comments mathjax'><span class='descriptor'>Comments:</span>
        {{item.comments|tex2utf|urlize|safe}}
      </div>
      {% endif %}

      {% if item.journal_ref %}
      <div class='list-journal-ref'><span class='descriptor'>Journal-ref:</span>
        {{item.journal_ref}}
      </div>
      {% endif %}

      <div class='list-subjects'><span class='descriptor'>Subjects:</span>
        {{list_macros.category_line(item)}}
      </div>

      {% if include_abstract  %}
      <p class='mathjax'>
        {{ item.abstract|tex2utf_no_symbols|abstract_lf_to_br|urlize|safe }}
      </p>
      {% endif %}
    </div>
  </dd>
  {% endblock %}



