{%- extends "list/base.html" -%}

{% block list_index %}
{{ listdate() }}
{{ type_index() }}
{% endblock %}

{% macro type_index() %}
  {% if index_for_types %}
    <ul>
  {% for ityp in index_for_types %}
    <li><a href="{{ityp[1]}}#item{{ityp[2]}}">{{ityp[0]}}</a></li>
  {% endfor %}
  </ul>
{% endif %}
{% endmacro %}

{% macro listdate() %}
  {% if announced %}
    <div class="list-dateline">Submissions received from
      {{ submitted[0].strftime('%A, %-d %B %Y') }} to {{ submitted[1].strftime('%A, %-d %B %Y') }},
      announced {{ announced.strftime('%A, %-d %B %Y') }}
    </div>
  {% endif %}
{% endmacro %}
