{%- extends "base.html" -%}
{# Do not show login status on these pages for now, per classic #}

{% block head %}
  {{ super() -}}
  <script src="{{ url_for('static', filename='js/mathjaxToggle.min.js') }}" type="text/javascript"></script>
  <style type="text/css">
    p.blog { margin-bottom: 0; }
    ul.blog { list-style-type: none; margin-top: 0; font-size: 90%; }
  </style>
{% endblock head %}

{%- block content %}
  <div style="font-size: smaller; margin-top: 2em;">
  <p>By sending a <a href="{%- url_for('help_trackback') -%}">trackback</a>, you can notify
  arXiv.org that you have created a web page that references a paper. Popular
  blogging software supports trackback:  you can send us a trackback about this
  paper by giving your software the following <em>trackback URL:</em></p>
  <blockquote>https://arxiv.org/trackback/{arXiv_id}</blockquote>
  <p>Some blogging software supports <em>trackback autodiscovery</em> -- in this
  case,  your software will automatically send a trackback as soon as your
  create a link to our abstract page.  See our
  <a href="{%- url_for('help_trackback') -%}">trackback help page</a> for more information.</p>
  </div>
  <script type="text/javascript" language="javascript">mathjaxToggle();</script>
{% endblock content %}
