{%- extends "tb/base.html" -%}
{%- from 'tb/macros.html' import generate_trackback_link -%}
{%- import 'base/macros.html' as base_macros -%}

{% block title %}Recent Trackbacks{% endblock %}
{% block header_h1 %}<h1><a href="{{ url_for('.home') }}">{{ config['BROWSE_SITE_LABEL'] }}</a> &gt; recent trackbacks</h1>{% endblock %}

{%- block content %}
  <div class="columns">
    <div class="column">
      <h1>arXiv<br><span style="color:grey;">Recent Trackbacks</span></h1>
      <p>Trackbacks indicate external web sites that link to articles in arXiv.org.
        Trackbacks do not reflect the opinion of arXiv.org and may not reflect the opinions of that article's authors.</p>
    </div>
    <div class="column guide is-three-fifths">
      <h2 style="margin:0;">Trackback guide</h2>
      {{ super() }}
    </div>
  </div>


  {% if recent_trackback_pings -%}
  <div id="{{ list_name }}_list" class="large-data-list bold-divided-list">
    <form action="{{ url_for('browse.tb_recent') }}" method="post" class="form-trackbacks">
      <label for="select_trackbacks"><span class="is-hidden-mobile">Number of trackbacks to </span>view:</label>
      <select name="views" id="select_trackbacks">
        {%- for option in trackback_count_options -%}
        <option value="{{ option }}"{% if max_trackbacks == option %} selected="selected"{% endif %}>last {{ option }}</option>
        {%- endfor -%}
      </select>
      <input type="submit" name="recent_trackbacks_refresh" value="Refresh" class="button is-link is-small is-outline">
    </form>

    {%- set ns = namespace(cur_tb_ymd='', cur_tb_url='') -%}
    {%- for recent_tb in recent_trackback_pings -%}
    <div class="columns">
      {%- set this_tb_ymd = recent_tb[0].posted_datetime.strftime('%B %-d, %Y') -%}
      {%- set this_tb_url = recent_tb[0].url -%}

        {%- if this_tb_ymd != ns.cur_tb_ymd -%}
        {%- endif -%}

        <div class="column is-one-fifth">
          {%- if this_tb_ymd != ns.cur_tb_ymd -%}
          {%- set ns.cur_tb_ymd = this_tb_ymd -%}
            <h3 class="bold-divided-header">{{ this_tb_ymd }}</h3>
          {%- endif -%}
        </div>

        {%- if this_tb_url != ns.cur_tb_url -%}
          {%- set ns.cur_tb_url = this_tb_url -%}
          <div class="column bold-divided-column">
            <p>{{- generate_trackback_link(recent_tb[0], include_posted_date=False) }} links the following articles:</p>
            <ul>
              {%- for article in article_map[this_tb_url] -%}
              <li><span class="mathjax">{{ article[1]|tex2utf }}<span> [<a class="mathjax" href="{{ url_for('.abstract', arxiv_id=article[0]) }}">{{ article[0] }}</a>]</li>
              {%- endfor -%}
            </ul>
          </div>
        {%- endif -%}
    </div>
    {%- endfor -%}

  </div>
  {%- endif %}



{% endblock content %}
