BROWSE_SERVER_NAME=phoenix.arxiv.org
BROWSE_SITE_HOST=phoenix.arxiv.org
BROWSE_SITE_LABEL=arXiv Phoenix
PREFERRED_URL_SCHEME=https
DEBUG=0
FLASK_DEBUG=0
JWT_SECRET=TODO
SQLALCHEMY_TRACK_MODIFICATIONS=False
BROWSE_SQLALCHEMY_DATABASE_URI=TODO
BROWSE_ANALYTICS_ENABLED=0
CLICKTHROUGH_SECRET=TODO
TRACKBACK_SECRET=TODO
FLASKS3_BUCKET_NAME=TODO
FLASKS3_CDN_DOMAIN=TODO
FLASKS3_USE_HTTPS=1
