BROWSE_SERVER_NAME=phoenix.arxiv.org
BROWSE_SITE_HOST=phoenix.arxiv.org
BROWSE_SITE_LABEL="arXiv Phoenix"

SQLALCHEMY_TRACK_MODIFICATIONS=False
BROWSE_SQLALCHEMY_DATABASE_URI=mysql://user:pw@host:port/arXiv

#Needed for auth
CLASSIC_SQLALCHEMY_DATABASE_URI=mysql://user:pw@host:port/arXiv

PREFERRED_URL_SCHEME=https

ACCOUNTS_SERVER_NAME=phoenix.arxiv.org
AUTH_SESSION_COOKIE_DOMAIN=.phoenix.arxiv.org

JWT_SECRET=nice-hat

BROWSE_ANALYTICS_ENABLED=0

BASE_SERVER=phoenix.arxiv.org

# Needed for auth and must match hash configured in accounts
CLASSIC_SESSION_HASH=I-like-your-hat-too
