{%- extends "base.html" -%}
{# Do not show login status on stats pages for now, per classic #}

{% block head %}
  {{ super() -}}
  {# TODO: upgrade d3 to v5.x? #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js" type="text/javascript"></script>
{% endblock head %}

{% block header_h1 %}<h1><a href="{{ url_for('.home') }}">arXiv.org</a> &gt; Site Stats</h1>{% endblock %}

{%- block content %}
<p>See also <a href="{{ url_for('help') }}stats">other arXiv usage statistics</a>.</p>
{% endblock content %}
