<style type="text/css">
  svg {
    font: 10px sans-serif;
  }

  .axis path {
    fill: none;
  }

  .axis line {
    stroke: #000;
  }

  .axis .minor line {
    stroke: #777;
    stroke-dasharray: 2, 2;
  }

  .x.axis line {
    stroke: lightgrey;
  }

  .x.axis .minor {
    stroke-opacity: .5;
  }

  .y.axis line {
    stroke: lightgrey;
    stroke-dasharray: 2, 2;
  }

  .y.axis .minor {
    stroke-opacity: .5;
  }

  .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
  }

  .overlay {
    fill: none;
    pointer-events: all;
  }

  .focus circle {
    fill: none;
    stroke: red;
  }

  .area {
    fill: lightsteelblue;
    stroke-width: 0;
  }
</style>

<script type="text/javascript">
  var margin = {
      top: 20,
      right: 150,
      bottom: 30,
      left: 50
    },
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

  var parseDate = d3.time.format("%Y-%m").parse,
    bisectDate = d3.bisector(function(d) {
      return d.month;
    }).left,
    formatValue1 = d3.format(","),
    formatValue2 = d3.time.format("%B %Y"),
    formatDate = function(d) {
      return formatValue2(d);
    },
    formatSubmissions = function(d) {
      return formatValue1(d);
    };

  var x = d3.time.scale()
    .range([0, width]);


  var y = d3.scale.linear()
    .range([height, 0]);

  var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
    .tickFormat(d3.time.format('%b \'%y'));

  var yAxis = d3.svg.axis()
    .scale(y)
    .tickSize(-width)
    .orient("left");

  var line = d3.svg.line().interpolate("step-before")
    .x(function(d) {
      return x(d.month);
    })
    .y(function(d) {
      return y(d.submissions);
    });

  var svg = d3.select("div#content").append("svg:svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  var area = d3.svg.area()
    .interpolate("step-before")
    .x(function(d) {
      return x(d.month);
    })
    .y0(height)
    .y1(function(d) {
      return y(d.submissions);
    });

  d3.csv("{{ url_for('browse.stats', command='get_monthly_submissions') }}", function(error, data) {
    data.forEach(function(d) {
      d.month = parseDate(d.month);
      d.submissions = +d.submissions;
    });

    // Don't include 1991-07 (index 0) in graph
    x.domain([data[1].month, data[data.length - 2].month]);
    y.domain(d3.extent(data, function(d) {
      return d.submissions;
    }));

    svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

    var gy = svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);

    gy.selectAll("g").filter(function(d) {
        return d;
      })
      .classed("minor", true);

    svg.append("path")
      .datum(data)
      .attr("class", "line")
      .attr("d", line);

    svg.append("path")
      .datum(data)
      .attr("class", "area")
      .attr("d", area);

    svg.append("path")
      .datum(data)
      .attr("class", "line")
      .attr("d", line);

    var focus = svg.append("g")
      .attr("class", "focus")
      .style("display", "none");

    focus.append("circle")
      .attr("r", 4.5);

    focus.append("text")
      .attr("x", 9)
      .attr("font-size", 13)
      .attr("dy", ".45em");

    svg.append("rect")
      .attr("class", "overlay")
      .attr("width", width + 100)
      .attr("height", height)
      .on("mouseover", function() {
        focus.style("display", null);
      })
      .on("mouseout", function() {
        focus.style("display", "none");
      })
      .on("mousemove", mousemove);

    function mousemove() {
      var x0 = x.invert(d3.mouse(this)[0]),
        i = bisectDate(data, x0, 1),
        d0 = data[i - 1],
        d1 = data[i],
        d = x0 - d0.month > d1.month - x0 ? d1 : d0,
        subText = formatDate(d.month) + ": " + formatSubmissions(d.submissions);

      focus.attr("transform", "translate(" + x(d.month) + "," + y(d.submissions) + ")");
      focus.select("text").text(subText);
    }
  });
</script>
