<style type="text/css">
  svg {
    font: 10px sans-serif;
  }
  .axis path {
    fill: none;
  }
  .axis line {
    stroke: #000;
  }
  .axis .minor line {
    stroke: #777;
    stroke-dasharray: 2, 2;
  }
  .x.axis line {
    stroke: lightgrey;
  }
  .x.axis .minor {
    stroke-opacity: .5;
  }
  .y.axis line {
    stroke: lightgrey;
    stroke-dasharray: 2, 2;
  }
  .y.axis .minor {
    stroke-opacity: .5;
  }
  .line {
    fill: none;
    stroke: #d9af0c;/*medium yellow*/
    stroke-width: 1.5px;
  }
  .overlay {
    fill: none;
    pointer-events: all;
  }
  .focus circle {
    fill: none;
    stroke: #994d04;/*darkest orange*/
  }
  .focus {
    color: red;
  }
  .area {
    stroke-width: 0;
  }
</style>

<script type="text/javascript">
  //responsive widths and heights, tablet breakpoint:
  var startWidth = 960;
  var startHeight = 550;
  function responsiveWidth(x) {
      if (x.matches) { // If media query matches
        startWidth = 750;
      }
      return startWidth;
    }
  function responsiveHeight(x) {
        if (x.matches) { // If media query matches
          startHeight = 350;
        }
        return startHeight;
      }
  var x = window.matchMedia("(max-width: 768px)");
  responsiveWidth(x); // Call listener function at run time
  responsiveHeight(x); // Call listener function at run time
  x.addListener(responsiveWidth); // Attach listener function on state changes
  x.addListener(responsiveHeight); // Attach listener function on state changes
  var calcWidth = responsiveWidth(startWidth);
  var calcHeight = responsiveHeight(startHeight);
  //set margin, width, and height vars
  var margin = {
      top: 30,
      bottom: 30,
      right: 70,
      left: 70
    },
    width = calcWidth - margin.left - margin.right,
    height = calcHeight - margin.top - margin.bottom;

  var parseDate = d3.time.format("%Y-%m").parse,
    bisectDate = d3.bisector(function(d) {
      return d.month;
    }).left,
    formatValue1 = d3.format(","),
    formatValue2 = d3.time.format("%B %Y"),
    formatDate = function(d) {
      return formatValue2(d);
    },
    formatSubmissions = function(d) {
      return formatValue1(d);
    };

  var x = d3.time.scale()
    .range([0, width]);


  var y = d3.scale.linear()
    .range([height, 0]);

  var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")
    .tickFormat(d3.time.format('%b \'%y'));

  var yAxis = d3.svg.axis()
    .scale(y)
    .tickSize(-width)
    .orient("left");

  var line = d3.svg.line().interpolate("step-before")
    .x(function(d) {
      return x(d.month);
    })
    .y(function(d) {
      return y(d.submissions);
    });

  var svg = d3.select("div#chart_content").append("svg:svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .attr("id", "chart")
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  var area = d3.svg.area()
    .interpolate("step-before")
    .x(function(d) {
      return x(d.month);
    })
    .y0(height)
    .y1(function(d) {
      return y(d.submissions);
    });

  d3.csv("{{ url_for('browse.stats', command='get_monthly_submissions') }}", function(error, data) {
    data.forEach(function(d) {
      d.month = parseDate(d.month);
      d.submissions = +d.submissions;
    });

    // Don't include 1991-07 (index 0) in graph
    x.domain([data[1].month, data[data.length - 2].month]);
    y.domain(d3.extent(data, function(d) {
      return d.submissions;
    }));

    svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

    var gy = svg.append("g")
      .attr("class", "y axis")
      .call(yAxis);

    gy.selectAll("g").filter(function(d) {
        return d;
      })
      .classed("minor", true);

    svg.append("path")
      .datum(data)
      .attr("class", "line")
      .attr("d", line);

    svg.append("path")
      .datum(data)
      .attr("class", "area")
      .attr("d", area)
      .attr("fill", "url(#gradientFill)");

    svg.append("path")
      .datum(data)
      .attr("class", "line")
      .attr("d", line);

    var focus = svg.append("g")
      .attr("class", "focus")
      .style("display", "none");

    focus.append("circle")
      .attr("r", 4.5);

    focus.append("text")
      .attr("x", -65)
      .attr("font-size", 12)
      .attr("dy", "-.8em")
      .attr("color", "red");

    svg.append("rect")
      .attr("class", "overlay")
      .attr("width", width + 100)
      .attr("height", height)
      .on("mouseover", function() {
        focus.style("display", null);
      })
      .on("mouseout", function() {
        focus.style("display", "none");
      })
      .on("mousemove", mousemove);

    function mousemove() {
      var x0 = x.invert(d3.mouse(this)[0]),
        i = bisectDate(data, x0, 1),
        d0 = data[i - 1],
        d1 = data[i],
        d = x0 - d0.month > d1.month - x0 ? d1 : d0,
        subText = formatDate(d.month) + ": " + formatSubmissions(d.submissions);

      focus.attr("transform", "translate(" + x(d.month) + "," + y(d.submissions) + ")");
      focus.select("text").text(subText);
    }
  });
  document.getElementById("chart").insertAdjacentHTML("afterbegin","<defs><linearGradient id='gradientFill' x1='0%' y1='0%' x2='0%' y2='100%'><stop offset='45%' style='stop-color:rgb(255,204,0);stop-opacity:1' /><stop offset='100%' style='stop-color:rgb(181,92,6);stop-opacity:1' /></linearGradient></defs>");

    //

</script>
