{%- extends "stats/base.html" -%}

{% block title %}Monthly Submissions{% endblock %}
{% block header_h1 %}<h1><a href="{{ url_for('.home') }}">{{ config['BROWSE_SITE_LABEL'] }}</a>  &gt; stats &gt; monthly submission rates</h1>{% endblock %}

{% block content %}
<h2>arXiv Monthly Submission Rates [<a title="download monthly submission CSV data" href="{{ url_for('browse.stats', command='get_monthly_submissions') }}">CSV</a>]</h2>
{% include "stats/monthly_submissions_js.html" %}
<p><b style="color:steelblue">Blue</b>: Number of new submissions received during each month since {{ arxiv_start_dt.strftime('%B %Y') }}.<br />
  Hover over the graph to see the exact count for a given month.</p>
<p>Total number of submissions shown in graph as of {{ current_dt.strftime('%B %-d, %Y') }} (after {{ "%.1f"|format(arxiv_age_years|float) }} years) = {{ "{:,}".format(num_submissions) }}</p>
<p>
  The total number of submissions excludes {{ "{:,}".format(num_migrated) }} articles that were migrated to arXiv rather than being submitted directly, and includes {{ "{:,}".format(num_deleted) }} articles that have been deleted. The total number of articles available is {{ "{:,}".format(num_submissions_adjusted) }}.
</p>
{{ super() }}
{% endblock content %}
