<style>
  #chart_content svg {
    font: 10px sans-serif;
  }
  #chart_content path {
    stroke: #b18e0f;/*dark yellow*/
  }
  #chart_content .axis path,
  #chart_content .axis line,
  #chart_content .small-chart .axis path,
  #chart_content .small-chart .axis line {
    fill: none;
    stroke: lightgrey;/*warm grey*/
    shape-rendering: auto;
  }
  #chart_content .small-chart path {
    fill: #ffcc00;/*middle orange*/
    stroke: #b55c06;/*dark orange*/
  }
  .axis .minor line {
    stroke: none;
    stroke-dasharray: 2,2;
  }
  .x.axis .minor {
    stroke-opacity: .5;
  }
  .y.axis line {
    stroke: lightgrey;/*warm grey*/
    stroke-dasharray: 1,1;
  }
  .y.axis .minor {
    stroke-opacity: .5;
  }
  .brush .extent {
    stroke: #b18e0f;/*dark yellow*/
    fill-opacity: .125;
    shape-rendering: auto;
  }
</style>
<script type="text/javascript">
  //responsive widths and heights, tablet breakpoint:
  var startWidth = 960;
  var startHeight = 500;
  function responsiveWidth(scrn) {
      if (scrn.matches) { // If media query matches
        startWidth = 750;
      }
      return startWidth;
    }
  function responsiveHeight(scrn) {
        if (scrn.matches) { // If media query matches
          startHeight = 500;
        }
        return startHeight;
      }
  var scrn = window.matchMedia("(max-width: 768px)");
  responsiveWidth(scrn); // Call listener function at run time
  responsiveHeight(scrn); // Call listener function at run time
  scrn.addListener(responsiveWidth); // Attach listener function on state changes
  scrn.addListener(responsiveHeight); // Attach listener function on state changes
  var calcWidth = responsiveWidth(startWidth);
  var calcHeight = responsiveHeight(startHeight);
  //set margin, width, and height vars
  var margin = {
      top: 10,
      right: 10,
      bottom: 100,
      left: 65
    },
    margin2 = {
      top: 430,
      right: 10,
      bottom: 20,
      left: 65
    },
    width = calcWidth - margin.left - margin.right,
    height = calcHeight - margin.top - margin.bottom,
    height2 = 500 - margin2.top - margin2.bottom;

  var parseDate = d3.time.format("%Y-%m").parse;

  var x = d3.time.scale().range([0, width]),
    x2 = d3.time.scale().range([0, width]),
    y = d3.scale.linear().range([height, 0]),
    y2 = d3.scale.linear().range([height2, 0]);

  var xAxis = d3.svg.axis().scale(x).orient("bottom"),
    xAxis2 = d3.svg.axis().scale(x2).orient("bottom"),
    yAxis = d3.svg.axis().scale(y).tickSize(-width).orient("left");

  var brush = d3.svg.brush()
    .x(x2)
    .on("brush", brushed);

  var area = d3.svg.area()
    .interpolate("step-before")
    .x(function(d) {
      return x(d.month);
    })
    .y0(height)
    .y1(function(d) {
      return y(d.downloads);
    });

  var area2 = d3.svg.area()
    .interpolate("step-before")
    .x(function(d) {
      return x2(d.month);
    })
    .y0(height2)
    .y1(function(d) {
      return y2(d.downloads);
    });

  var svg = d3.select("div#chart_content").append("svg:svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .attr("id", "chart");

  svg.append("defs").append("clipPath")
    .attr("id", "clip")
    .append("rect")
    .attr("width", width)
    .attr("height", height);

  var focus = svg.append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  var context = svg.append("g")
    .attr("transform", "translate(" + margin2.left + "," + margin2.top + ")")
    .attr("class", "small-chart");

  d3.csv("{{ url_for('browse.stats', command='get_monthly_downloads') }}", function(error, data) {

    data.forEach(function(d) {
      d.month = parseDate(d.month);
      d.downloads = +d.downloads;
    });

    x.domain(d3.extent(data.map(function(d) {
      return d.month;
    })));
    y.domain([0, d3.max(data.map(function(d) {
      return d.downloads;
    }))]);
    x2.domain(x.domain());
    y2.domain(y.domain());

    focus.append("path")
      .datum(data)
      .attr("clip-path", "url(#clip)")
      .attr("fill", "url(#gradientFill)")
      .attr("d", area);

    focus.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

    focus.append("g")
      .attr("class", "y axis")
      .call(yAxis);

    context.append("path")
      .datum(data)
      .attr("d", area2);

    context.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height2 + ")")
      .call(xAxis2);

    context.append("g")
      .attr("class", "x brush")
      .call(brush)
      .selectAll("rect")
      .attr("y", -6)
      .attr("height", height2 + 7);
  });

  function brushed() {
    x.domain(brush.empty() ? x2.domain() : brush.extent());
    focus.select("path").attr("d", area);
    focus.select(".x.axis").call(xAxis);
  }
  document.getElementById("chart").insertAdjacentHTML("afterbegin","<defs><linearGradient id='gradientFill' x1='0%' y1='0%' x2='0%' y2='100%'><stop offset='45%' style='stop-color:rgb(255,204,0);stop-opacity:1' /><stop offset='100%' style='stop-color:rgb(181,92,6);stop-opacity:1' /></linearGradient></defs>");
</script>
