{%- extends "stats/base.html" -%}
{% set pagename = 'Monthly Submissions' %}
{% block title %}Monthly Submissions{% endblock %}
{% block header_h1 %}<h1><a href="{{ url_for('.home') }}">{{ config['BROWSE_SITE_LABEL'] }}</a>  &gt; stats &gt; monthly submission rates</h1>{% endblock %}

{% block content_stats %}
  {{ super() }}
  <div class="chart_text">
    <p>This chart displays the number of new submissions received during each month since {{ arxiv_start_dt.strftime('%B %Y') }} (after {{ "%.1f"|format(arxiv_age_years|float) }} years). Hover over the graph to see the exact count for a given month.</p>
  </div>
  <div id="chart_content">
    <div class="chart_text">
      <a class="button is-pulled-right" title="download monthly submission CSV data" href="{{ url_for('browse.stats', command='get_monthly_submissions') }}">Download CSV</a>
      <p>Total number of submissions as of {{ current_dt.strftime('%B %-d, %Y') }} = <strong>{{ "{:,}".format(num_submissions) }}</strong>.</p>
    </div>
    {% include "stats/monthly_submissions_js.html" %}
  </div>
  <div class="chart_text chart_notes">
    <p>The total number of submissions excludes {{ "{:,}".format(num_migrated) }} articles that were migrated to arXiv rather than being submitted directly,
    and {{ "{:,}".format(num_deleted) }} articles that have been deleted. The total number of articles available is <strong>{{ "{:,}".format(num_submissions_adjusted) }}</strong></p>
  </div>
{% endblock content_stats %}

{% block content %}
{{ super() }}
{% endblock content %}
