{%- extends "stats/base.html" -%}

{% block title %}hourly usage{% endblock %}

{% block content %}

<h2>arXiv Web Server Usage from {{ requested_dt.strftime('%A, %B %-d, %Y') }} (<a href="{{ url_for('.home') }}">{{ config['BROWSE_SITE_LABEL'] }}</a> site only) [<a title="download hourly access stats CSV data" href="{{ url_for('browse.stats', command='get_hourly') }}?date={{ requested_dt.strftime('%Y%m%d')}}">CSV</a>]</h2>
{% if normal_count > 0 %}
{% include "stats/today_js.html" %}
<p>Total number of connections = {{ "{:,}".format(normal_count) }} (+{{ "{:,}".format(admin_count) }} local &amp; administrative connections)
{% else %}
<p>No data currently available.
{% endif %}
<br />Current local time is {{ current_dt.strftime('%A, %B, %-d, %Y %H:%M:%S') }} US/Eastern</p>
{{ super() }}
{% endblock content %}
