{%- extends "base.html" -%}
{% from 'abs/author_links.html' import display_authors_with_links %}
{% import 'base/macros.html' as base_macros %}

{% block title %}[{{ requested_id }}] {{ abs_meta.title|tex2utf }}{% endblock %}

{% block head %}
  {{ super() -}}
  {%- if config['LABS_ENABLED'] and config['LABS_BIBEXPLORER_ENABLED'] -%}
  <link rel="stylesheet" media="screen" type="text/css" href="https://static.arxiv.org/js/bibex-dev/bibex.css?20200709"/>
  {%- endif %}
  <script src="{{ url_for('static', filename='js/mathjaxToggle.min.js') }}" type="text/javascript"></script>
  {%- if config['LABS_ENABLED'] -%}
  <script src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="//cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/toggle-labs.js') }}" type="text/javascript"></script>
  {%- endif %}
  {%- include "feedback_collector_js.html" -%}
  {{- generate_scholar_tags() }}
  {{- generate_social_media_tags() }}
{% endblock head %}

{% block body_id %}{% endblock %}

{% block header_h1 %}
  <div class="header-breadcrumbs is-hidden-mobile"><a href="/">{{ config['BROWSE_SITE_LABEL'] }}</a> &gt; <a href="{{ url_for('.list_articles',context=abs_meta.primary_archive.id, subcontext='recent') }}">{{ abs_meta.primary_archive.id }}</a> &gt; arXiv:{{ requested_id }}</div>
{% endblock header_h1 %}

{%- block content %}
{%- include "abs/trackback_rdf.html" %}
<div id="abs-outer">
  {% set download_button %}
    {{ generate_download_button() }}
  {% endset %}

  <div class="leftcolumn">
    <div class="subheader">
      <h1>{% if abs_meta.primary_archive.id != abs_meta.primary_category.id %}{{ abs_meta.primary_archive.name }} > {% endif %}{{ abs_meta.primary_category.name }}</h1>
    </div>

    <div class="header-breadcrumbs-mobile">
      <strong>arXiv:{{ requested_id }}</strong> ({{ abs_meta.primary_archive.id }})
    </div>
    {% if is_covid_match %}
    <div class="message-special" style="margin:2em 1em;">
      <span class="label">COVID-19 e-print</span>
      <p><em>Important:</em> e-prints posted on arXiv are not peer-reviewed by arXiv; they should not be relied upon without context to guide clinical practice or health-related behavior and should not be reported in news media as established information without consulting multiple experts in the field.</p>
    </div>
    {% endif -%}

    {{
      base_macros.abs(
      abs_meta.arxiv_identifier.id,
      abs_meta.title,
      display_authors_with_links(abs_meta, author_links),
      abs_meta.abstract,
      abs_meta.get_datetime_of_version(abs_meta.version),
      abs_meta.primary_category.id,
      comments = abs_meta.comments,
      msc_class = abs_meta.msc_class,
      acm_class = abs_meta.acm_class,
      journal_ref = abs_meta.journal_ref,
      doi = abs_meta.doi,
      report_num = abs_meta.report_num,
      version = abs_meta.version,
      submission_history = abs_meta.version_history,
      secondary_categories = abs_meta.get_secondaries(),
      download_button_markup = download_button )
    }}

    <div class="submission-history">
      <h2>Submission history</h2> From: {{ abs_meta.submitter.name|tex2utf if abs_meta.submitter.name != None }} [<a href="/show-email/{{ abs_meta.arxiv_id|show_email_hash }}/{{ abs_meta.arxiv_id }}">view email</a>]
      {#- Extra message for proxy sites (i.e. Proxy line has username and id) -#}
      {#- TODO: revisit this. Logic for display follows classic but is strange; sometimes a proxy is just a person's name. -#}
      {% if abs_meta.proxy != None %}&nbsp;[via {% if abs_meta.proxy|wordcount == 1 or abs_meta.proxy.startswith('ccsd') %}{{ abs_meta.proxy.split()[0]|upper }} proxy{% else %}{{ abs_meta.proxy|tex2utf }} as proxy{% endif %}]{% endif %}
      <br/>
      {%- for version_entry in abs_meta.version_history -%}
      {{ generate_version_entry(version_entry, abs_meta.version) }}
      {%- endfor -%}
    </div>
    <div class="endorsers">
      <a href="{{ url_for('.show_endorsers',arxiv_id=abs_meta.arxiv_id) }}">Which authors of this paper are endorsers?</a> |
      <a id="mathjax_toggle" href="javascript:setMathjaxCookie()">Disable MathJax</a> (<a href="{{ url_for('help_mathjax') }}">What is MathJax?</a>)
    </div>

    <script type="text/javascript" language="javascript">mathjaxToggle();</script>
  </div>
  <!--end leftcolumn-->
  {% include "abs/extra_services.html" %}

  <!-- LABS AREA -->
  <div id="labstabs">
    <div class="labstabs">
      <input type="radio" name="tabs" id="tabone" checked="checked">
      <label for="tabone">Bibliographic Tools</label>
      <div class="tab labs-display-bib">
        <h1>Bibliographic and Citation Tools</h1>

        <div class="toggle">
          {% if config['LABS_BIBEXPLORER_ENABLED'] %}
          <div class="columns is-mobile lab-row">
            <div class="column lab-switch">
              <label class="switch">
                <input id="bibex-toggle" type="checkbox" class="lab-toggle">
                <span class="slider"></span>
              </label>
            </div>
            <div class="column lab-name">
              Bibliographic Explorer <span>(<a href="https://labs.arxiv.org/">What is Bibex?</a>)</span>
            </div>
          </div>
          {% endif %}

          <div class="columns is-mobile lab-row">
            <div class="column lab-switch">
              <label class="switch">
                <input id="" type="checkbox" class="lab-toggle" disabled>
                <span class="slider"></span>
              </label>
            </div>
            <div class="column lab-name">
              DBLP CS Bibliography <span>(coming soon)</span>
            </div>
          </div>
        </div>

        {%- if config['LABS_ENABLED'] -%}
          <div class="labs-content-placeholder labs-display" style="display: none;"></div>
        {%- endif %}
      </div>

      <input type="radio" name="tabs" id="tabtwo">
      <label for="tabtwo">Recommenders</label>
      <div class="tab">
        <h1>Recommenders and Search Tools</h1>
        {% if 1 or config['LABS_CORE_RECOMMENDER_ENABLED'] %}
        <div class="toggle">
          <div class="columns is-mobile lab-row">
            <div class="column lab-switch">
              <label class="switch">
                <input id="core-recommender-toggle" type="checkbox" class="lab-toggle">
                <span class="slider"></span>
              </label>
            </div>
            <div class="column lab-name">
              CORE Recommender <span>(<a href="https://labs.arxiv.org/">What is CORE?</a>)</span>
            </div>
          </div>

          <div class="columns is-mobile lab-row">
            <div class="column lab-switch">
              <label class="switch">
                <input id="" type="checkbox" class="lab-toggle" disabled>
                <span class="slider"></span>
              </label>
            </div>
            <div class="column lab-name">
              Semantic Scholar Recommender <span>(coming soon)</span>
            </div>
          </div>
        </div>
        {% endif %}
        <div id="coreRecommenderOutput"></div>
      </div>

      <input type="radio" name="tabs" id="tabthree">
      <label for="tabthree">Key Artifacts</label>
      <div class="tab">
        <h1>Key Artifacts and Underlying Materials</h1>
        <p>PwC goes here...</p>
      </div>

      <input type="radio" name="tabs" id="tabfour">
      <label for="tabfour">About arXivLabs</label>
      <div class="tab">
        <h1>About arXivLabs</h1>
        <p>
          We are excited to be experimenting with a small number of collaborators on arXiv Labs projects that add value for our stakeholders and advance research. <a href="https://labs.arxiv.org/">Learn more about arXiv Labs</a> and <a href="https://arxiv.org/about/people/developers">ways to get involved</a>.
        </p>
        <p><a href="https://labs.arxiv.org/">Learn More</a> | <a href="https://arxiv.org/about/people/developers">Contribute</a></p>
      </div>
    </div>
  </div>
  <!-- END LABS AREA -->

  <span class="help" style="font-style: normal; float: right; margin-top: 0; margin-right: 1em;">{% include "feedback_collector.html" %}</span>
</div>
{% endblock content %}

{%- macro generate_version_entry(version_entry, this_version) %}
  {%- if version_entry.version == this_version -%}
  <strong>[v{{ version_entry.version }}]</strong>
{% else %}
  <strong><a href="{{ url_for('.abstract', arxiv_id='{}v{}'.format(abs_meta.arxiv_id, version_entry.version)) }}">[v{{ version_entry.version }}]</a></strong>
  {% endif %}{{ version_entry.submitted_date.strftime('%a, %-d %b %Y %H:%M:%S %Z') }} ({{ "{:,}".format(version_entry.size_kilobytes) }} KB){#- ({{(version_entry.size_kilobytes*1000)|filesizeformat}}) -#}<br/>
{%- endmacro -%}

{%- macro generate_dateline() -%}
  (Submitted on {{ abs_meta.version_history[0].submitted_date.strftime('%-d %b %Y') }}
  {%- if abs_meta.version == 1 and abs_meta.version < abs_meta.version_history[-1].version %} (this version){%- endif -%}
  {%- if abs_meta.version != 1 %} (<a href="{{ url_for('.abstract', arxiv_id='{}v1'.format(abs_meta.arxiv_id)) }}">v1</a>){%- endif %}
  {%- if abs_meta.version > 1 and abs_meta.version < abs_meta.version_history[-1].version -%}
  , revised {{ abs_meta.version_history[abs_meta.version-1].submitted_date.strftime('%-d %b %Y') }} (this version, v{{ abs_meta.version }})
  {%- endif -%}
  {%- if abs_meta.version != abs_meta.version_history[-1].version -%}
  , <em>latest version {{ abs_meta.version_history[-1].submitted_date.strftime('%-d %b %Y') }}</em> (<a href="{{ url_for('.abstract', arxiv_id='{}v{}'.format(abs_meta.arxiv_id, abs_meta.version_history[-1].version)) }}">v{{ abs_meta.version_history[-1].version }}</a>)
  {%- elif abs_meta.version > 1 and abs_meta.version == abs_meta.version_history[-1].version -%}
  , last revised {{ abs_meta.version_history[-1].submitted_date.strftime('%-d %b %Y') }} (this version, v{{ abs_meta.version }})
  {%- endif -%}
  )
{%- endmacro -%}

{%- macro generate_scholar_tags() -%}
{%- if meta_tags %}
    {%- for tag in meta_tags %}
  <meta name="{{tag.name}}" content="{{tag.content}}"/>
    {%- endfor -%}
{%- endif -%}
{%- endmacro -%}

{%- macro generate_social_media_tags() -%}
    <meta name="twitter:site" content="@arxiv"/>
    <meta property="twitter:title" content="{{ abs_meta.title|tex2utf|truncate(70, False, '...') }}"/>
    <meta property="twitter:description" content="{{ abs_meta.abstract|trim|truncate(200, False, '...')|tex2utf }}"/>
    <meta property="og:site_name" content="arXiv.org"/>
    <meta property="og:title" content="{{ abs_meta.title|tex2utf }}"/>
    <meta property="og:url" content="{{ canonical_url(abs_meta.arxiv_id, abs_meta.version) }}"/>
    <meta property="og:description" content="{{ abs_meta.abstract|trim|tex2utf }}"/>
{%- endmacro -%}

{%- macro category_line() -%}
  <span class="primary-subject">{{- abs_meta.primary_category.unalias().display -}}</span>
  {%- if abs_meta.secondary_categories -%}
    {%- for category in abs_meta.display_secondaries() -%}
        ; {{ category }}
    {%- endfor -%}
  {%- endif -%}
{%- endmacro -%}

{%- macro version_atag(id, version) -%}
  {%- if version -%}
    {%- set vpart = 'v' ~ version -%}
  {%- else -%}
    {%- set vpart = '' -%}
  {% endif %}
  {%- if abs_meta.primary_category.id in abs_meta.arxiv_id -%}
    <a href="{{ canonical_url(id,version) }}">arXiv:{{id}}{{vpart}}</a>
  {%- else -%}
    <a href="{{ canonical_url(id,version) }}">arXiv:{{id}}{{vpart}}</a> [{{abs_meta.primary_category.id}}]
  {%- endif -%}
{%- endmacro -%}

{% macro generate_download_button() %}
  {% if formats|length > 0 and ('pdf' in formats or 'pdfonly' in formats) %}
    <a class="mobile-submission-download" href="{{url_for('.pdf', arxiv_id=requested_id)}}">Download PDF</a>
  {% else %}
    <a class="mobile-submission-download mobile-download-grey" href="#other">No PDF available, click to view other formats</a>
  {% endif %}
{% endmacro %}
