{%- extends "base.html" -%}
{% from 'abs/author_links.html' import display_authors_with_links %}
{% import 'base/macros.html' as base_macros %}

{% block title %}[{{ requested_id }}] {{ abs_meta.title|tex2utf }}{% endblock %}

{% block head %}
  {{ super() -}}
  <link rel="stylesheet" media="screen" type="text/css" href="{{ url_for('static', filename='css/tooltip.css') }}"/>
  {%- if config['LABS_ENABLED'] and config['LABS_BIBEXPLORER_ENABLED'] -%}
  <link rel="stylesheet" media="screen" type="text/css" href="https://static.arxiv.org/js/bibex-dev/bibex.css?20200709"/>
  {%- endif %}
  <script src="{{ url_for('static', filename='js/mathjaxToggle.min.js') }}" type="text/javascript"></script>
  {%- if config['LABS_ENABLED'] -%}
  {#  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/paperwithcode.css') }}" /> #}
  <script src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
  <script src="//cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/toggle-labs.js') }}?20210728" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/cite.js') }}" type="text/javascript"></script>
  {%- endif %}
  {%- include "feedback_collector_js.html" -%}
  {{- generate_scholar_tags() }}
  {{- generate_social_media_tags() }}
{% endblock head %}

{% block body_id %}{% endblock %}

{% block header_h1 %}
  <div class="header-breadcrumbs is-hidden-mobile">
    <a href="/"><img src="{{ url_for('static', filename='images/arxiv-logo-one-color-white.svg') }}" alt="arxiv logo" style="height:40px;"/></a> <span>&gt;</span> <a href="{{ url_for('.list_articles',context=abs_meta.primary_archive.id, subcontext='recent') }}">{{ abs_meta.primary_archive.id }}</a> <span>&gt;</span> arXiv:{{ requested_id }}
  </div>
{% endblock header_h1 %}

{%- block content %}
{%- include "abs/trackback_rdf.html" %}
<div id="abs-outer">
  {% set download_button %}
    {{ generate_download_button() }}
  {% endset %}

  <div class="leftcolumn">
    <div class="subheader">
      <h1>{% if abs_meta.primary_archive.id != abs_meta.primary_category.id %}{{ abs_meta.primary_archive.name }} > {% endif %}{{ abs_meta.primary_category.name }}</h1>
    </div>

    <div class="header-breadcrumbs-mobile">
      <strong>arXiv:{{ requested_id }}</strong> ({{ abs_meta.primary_archive.id }})
    </div>
    {% if is_covid_match %}
    <div class="message-special" style="margin:2em 1em;">
      <span class="label">COVID-19 e-print</span>
      <p><em>Important:</em> e-prints posted on arXiv are not peer-reviewed by arXiv; they should not be relied upon without context to guide clinical practice or health-related behavior and should not be reported in news media as established information without consulting multiple experts in the field.</p>
    </div>
    {% endif -%}
    {{
      abs(
        abs_meta.arxiv_identifier.id,
        abs_meta.title,
        display_authors_with_links(abs_meta, author_links),
        abs_meta.abstract,
        abs_meta.get_datetime_of_version(abs_meta.version),
        abs_meta.primary_category.id,
        comments = abs_meta.comments,
        msc_class = abs_meta.msc_class,
        acm_class = abs_meta.acm_class,
        journal_ref = abs_meta.journal_ref,
        doi = abs_meta.doi,
        report_num = abs_meta.report_num,
        version = abs_meta.version,
        submission_history = abs_meta.version_history,
        secondary_categories = abs_meta.get_secondaries(),
        download_button_markup = download_button,
        datacite_doi = datacite_doi
      )
    }}
    <div class="submission-history">
      <h2>Submission history</h2> From: {{ abs_meta.submitter.name|tex2utf if abs_meta.submitter.name != None }} [<a href="/show-email/{{ abs_meta.arxiv_id|show_email_hash }}/{{ abs_meta.arxiv_id }}">view email</a>]
      {#- Extra message for proxy sites (i.e. Proxy line has username and id) -#}
      {#- TODO: revisit this. Logic for display follows classic but is strange; sometimes a proxy is just a person's name. -#}
      {% if abs_meta.proxy != None %}&nbsp;[via {% if abs_meta.proxy|wordcount == 1 or abs_meta.proxy.startswith('ccsd') %}{{ abs_meta.proxy.split()[0]|upper }} proxy{% else %}{{ abs_meta.proxy|tex2utf }} as proxy{% endif %}]{% endif %}
      <br/>
      {%- for version_entry in abs_meta.version_history -%}
      {{ generate_version_entry(version_entry, abs_meta.version) }}
      {%- endfor -%}
    </div>
  </div>
  <!--end leftcolumn-->
  {% include "abs/extra_services.html" %}
  {% include "abs/labs_tabs.html" %}

  <div class="endorsers">
    <a href="{{ url_for('.show_endorsers',arxiv_id=abs_meta.arxiv_id) }}" class="endorser-who">Which authors of this paper are endorsers?</a> |
    <a id="mathjax_toggle" href="javascript:setMathjaxCookie()">Disable MathJax</a> (<a href="{{ url_for('help_mathjax') }}">What is MathJax?</a>)
    <span class="help" style="font-style: normal; float: right; margin-top: 0; margin-right: 1em;"></span>
  </div>
  <script type="text/javascript" language="javascript">mathjaxToggle();</script>
</div>
{% endblock content %}

{%- macro generate_version_entry(version_entry, this_version) %}
  {%- if version_entry.version == this_version -%}
  <strong>[v{{ version_entry.version }}]</strong>
{% else %}
  <strong><a href="{{ url_for('.abstract', arxiv_id='{}v{}'.format(abs_meta.arxiv_id, version_entry.version)) }}">[v{{ version_entry.version }}]</a></strong>
  {% endif %}{{ version_entry.submitted_date.strftime('%a, %-d %b %Y %H:%M:%S %Z') }} ({{ "{:,}".format(version_entry.size_kilobytes) }} KB){#- ({{(version_entry.size_kilobytes*1000)|filesizeformat}}) -#}<br/>
{%- endmacro -%}

{%- macro generate_dateline() -%}
  [Submitted on {{ abs_meta.version_history[0].submitted_date.strftime('%-d %b %Y') }}
  {%- if abs_meta.version == 1 and abs_meta.version < abs_meta.version_history[-1].version %} (this version){%- endif -%}
  {%- if abs_meta.version != 1 %} (<a href="{{ url_for('.abstract', arxiv_id='{}v1'.format(abs_meta.arxiv_id)) }}">v1</a>){%- endif %}
  {%- if abs_meta.version > 1 and abs_meta.version < abs_meta.version_history[-1].version -%}
  , revised {{ abs_meta.version_history[abs_meta.version-1].submitted_date.strftime('%-d %b %Y') }} (this version, v{{ abs_meta.version }})
  {%- endif -%}
  {%- if abs_meta.version != abs_meta.version_history[-1].version -%}
  , <em>latest version {{ abs_meta.version_history[-1].submitted_date.strftime('%-d %b %Y') }}</em> (<a href="{{ url_for('.abstract', arxiv_id='{}v{}'.format(abs_meta.arxiv_id, abs_meta.version_history[-1].version)) }}">v{{ abs_meta.version_history[-1].version }}</a>)
  {%- elif abs_meta.version > 1 and abs_meta.version == abs_meta.version_history[-1].version -%}
  , last revised {{ abs_meta.version_history[-1].submitted_date.strftime('%-d %b %Y') }} (this version, v{{ abs_meta.version }})
  {%- endif -%}
  ]
{%- endmacro -%}

{%- macro generate_scholar_tags() -%}
{%- if meta_tags %}
    {%- for tag in meta_tags %}
  <meta name="{{tag.name}}" content="{{tag.content}}"/>
    {%- endfor -%}
{%- endif -%}
{%- endmacro -%}

{%- macro generate_social_media_tags() -%}
    <meta name="twitter:site" content="@arxiv"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="{{ abs_meta.title|tex2utf|truncate(70, False, '...')|tex2utf }}"/>
    <meta name="twitter:description" content="{{ abs_meta.abstract|trim|truncate(200, False, '...')|tex2utf }}"/>
    <meta name="twitter:image" content="https://static.arxiv.org/icons/twitter/arxiv-logo-twitter-square.png"/>
    <meta name="twitter:image:alt" content="arXiv logo"/>
    <meta property="og:site_name" content="arXiv.org"/>
    <meta property="og:title" content="{{ abs_meta.title|tex2utf }}"/>
    <meta property="og:url" content="{{ canonical_url(abs_meta.arxiv_id, abs_meta.version) }}"/>
    <meta property="og:description" content="{{ abs_meta.abstract|trim|tex2utf }}"/>
{%- endmacro -%}

{%- macro category_line() -%}
  <span class="primary-subject">{{- abs_meta.primary_category.unalias().display -}}</span>
  {%- if abs_meta.secondary_categories -%}
    {%- for category in abs_meta.display_secondaries() -%}
        ; {{ category }}
    {%- endfor -%}
  {%- endif -%}
{%- endmacro -%}

{%- macro version_atag(id, version) -%}
  {%- if version -%}
    {%- set vpart = 'v' ~ version -%}
  {%- else -%}
    {%- set vpart = '' -%}
  {% endif %}
  {%- if abs_meta.primary_category.id in abs_meta.arxiv_id -%}
    <a href="{{ canonical_url(id,version) }}">arXiv:{{id}}{{vpart}}</a>
  {%- else -%}
    <a href="{{ canonical_url(id,version) }}">arXiv:{{id}}{{vpart}}</a> [{{abs_meta.primary_category.id}}]
  {%- endif -%}
{%- endmacro -%}

{% macro generate_download_button() %}
  {% if formats|length > 0 and ('pdf' in formats or 'pdfonly' in formats) %}
    <a class="mobile-submission-download" href="{{url_for('.pdf', arxiv_id=requested_id)}}">Download PDF</a>
  {% else %}
    <a class="mobile-submission-download mobile-download-grey" href="#other">No PDF available, click to view other formats</a>
  {% endif %}
{% endmacro %}

{% macro abs(
    arxiv_id,
    title,
    authors,
    abstract,
    submitted_date,
    primary_category,
    comments = None,
    msc_class = None,
    acm_class = None,
    journal_ref = None,
    doi = None,
    report_num = None,
    version = 1,
    submission_history = [],
    secondary_categories = [],
    include_stylesheet = 1,
    embed_stylesheet = 0,
    download_button_markup = None,
    datacite_doi = None
) -%}

{% if include_stylesheet and not embed_stylesheet %}
<link rel="stylesheet" type="text/css" href="{{ url_for('base.static', filename='css/abs.css') }}">
{% endif %}
{% if embed_stylesheet %}
  <style>
  {{ 'css/abs.css'|embed_content }}
  </style>
{% endif %}
<div id="content-inner">
  <div id="abs">
    <div class="dateline">{{ base_macros.abs_date_line(arxiv_id, submitted_date, version, submission_history) }}</div>
    <h1 class="title mathjax"><span class="descriptor">Title:</span>{{ title|tex2utf|arxiv_id_urlize|safe }}</h1>
    <div class="authors"><span class="descriptor">Authors:</span>{{ authors }}</div>

    {#- optionally include markup for the download button -#}
    {% if download_button_markup %}
      {{ download_button_markup }}
    {% endif %}

    <blockquote class="abstract mathjax">
      <span class="descriptor">Abstract:</span>{{ abstract|tex2utf_no_symbols|abstract_lf_to_br|urlize|safe }}
    </blockquote>

    <!--CONTEXT-->
    <div class="metatable">
      <table summary="Additional metadata">
        {%- if comments %}
        <tr>
          <td class="tablecell label">Comments:</td>
          <td class="tablecell comments mathjax">{{ comments|tex2utf|urlize|safe }}</td>
        </tr>
        {% endif -%}
        <tr>
          <td class="tablecell label">Subjects:</td>
          <td class="tablecell subjects">
            <span class="primary-subject">{{ primary_category|get_category_display }}</span>
            {%- for category in secondary_categories|sort(attribute='id') -%}; {{ category|get_category_display }}{%- endfor -%}
          </td>
        </tr>
        {%- if msc_class %}
        <tr>
          <td class="tablecell label"><abbr title="Mathematical Subject Classification">MSC</abbr> classes:</td>
          <td class="tablecell msc-classes">{{ msc_class }}</td>
        </tr>
        {% endif -%}
        {%- if acm_class %}
        <tr>
          <td class="tablecell label"><abbr title="Association of Computing Machinery Classification">ACM</abbr>&nbsp;classes:</td>
          <td class="tablecell acm-classes">{{ acm_class }}</td>
        </tr>
        {% endif -%}

        {%- if report_num %}
        <tr>
          <td class="tablecell label">Report&nbsp;number:</td>
          <td class="tablecell jref">{{ report_num }}</td>
        </tr>
        {% endif -%}
        <tr>
          <td class="tablecell label">Cite as:</td>
          <td class="tablecell arxivid"><span class="arxivid">{{ base_macros.version_atag(arxiv_id, 0, primary_category) }}</span></td>
        </tr>
        <tr>
          <td class="tablecell label">&nbsp;</td>
          <td class="tablecell arxividv">(or <span class="arxivid">
              {{ base_macros.version_atag(arxiv_id, version, primary_category) }}</span> for this version)
          </td>
        </tr>
        {%- if datacite_doi %}
        <tr>
          <td class="tablecell label">&nbsp;</td>
          <td class="tablecell arxivdoi">
            <span class="arxivdoi"><a href="https://doi.org/{{ datacite_doi }}">https://doi.org/{{ datacite_doi }}</a><span>
              <div class="button-and-tooltip">
                <button class="more-info" aria-describedby="more-info-desc-1">
                  <svg height="15" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z" class=""></path></svg>
                  <span class="visually-hidden">Focus to learn more</span>
                </button>
                <!-- tooltip description -->
                <div role="tooltip" id="more-info-desc-1">
                  <span class="left-corner"></span>
                  arXiv-issued DOI via DataCite
                </div>
              </div>
            </td>
        </tr>
        {%- endif -%}
        {%- if journal_ref %}
        <tr>
          <td class="tablecell label">Journal&nbsp;reference:</td>
          <td class="tablecell jref">{{ journal_ref|tex2utf }}</td>
        </tr>
        {% endif -%}
        {%- if doi %}
        <tr>
          <td class="tablecell label">
            <abbr title="Digital Object Identifier">Related DOI</abbr>:
          </td>
          <td class="tablecell doi">{{ doi|escape|abs_doi_to_urls|safe }}

            <!-- accessible tooltip example -->
            <div class="button-and-tooltip">
              <button class="more-info" aria-describedby="more-info-desc-1">
                <svg height="15" role="presentation" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z" class=""></path></svg>
                <span class="visually-hidden">Focus to learn more</span>
              </button>
              <!-- tooltip description -->
              <div role="tooltip" id="more-info-desc-1">
                <span class="left-corner"></span>
                DOI(s) linking to related resources
              </div>
            </div>
          </td>
        </tr>
        {% endif -%}
      </table>
    </div>
  </div>
</div>
{%- endmacro -%}
