<div class="bookmarks">
      <div class="what-is-this">
        {# TODO: bookmarks section (..get rid of Digg) #}
        <h3>Bookmark</h3> (<a href="/help/social_bookmarking">what is this?</a>)
      </div>


      with new clickthrough:
      <a href="{{ 'http://www.citeulike.org/posturl?url=http://arxiv.org/abs/1708.00003'|clickthrough_url_for }}" title="Bookmark on CiteULike"><img src="//static.arxiv.org/icons/social/citeulike.png" alt="CiteULike logo" /><a/>

      hardcoded (old) clickthrough:
      <a href="/ct?url=http%3A%2F%2Fwww.citeulike.org%2Fposturl%3Furl%3Dhttp%3A%2F%2Farxiv.org%2Fabs%2F1708.00003%26title%3DPrecise%2520Time%2520Delays%2520from%2520Chromatically%2520Microlensed%2520Type%2520Ia%2520Supernovae%26authors%3D&amp;v=efe9693d" title="Bookmark on CiteULike"><img src="//static.arxiv.org/icons/social/citeulike.png" alt="CiteULike logo" /></a>
      <a href="/ct?url=http%3A%2F%2Fwww.bibsonomy.org%2FBibtexHandler%3FrequTask%3Dupload%26url%3Dhttp%3A%2F%2Farxiv.org%2Fabs%2F1708.00003%26description%3DPrecise%2520Time%2520Delays%2520from%2520Chromatically%2520Microlensed%2520Type%2520Ia%2520Supernovae&amp;v=b8be226d"
        title="Bookmark on BibSonomy"><img src="//static.arxiv.org/icons/social/bibsonomy.png" alt="BibSonomy logo" /></a>
      <a href="/ct?url=https%3A%2F%2Fwww.mendeley.com%2Fimport%2F%3Furl%3Dhttp%3A%2F%2Farxiv.org%2Fabs%2F1708.00003&amp;v=2a683b27" title="Bookmark on Mendeley"><img src="//static.arxiv.org/icons/social/mendeley.png" alt="Mendeley logo" /></a>
      <a href="/ct?url=https%3A%2F%2Fdel.icio.us%2Fpost%3Furl%3Dhttp%3A%2F%2Farxiv.org%2Fabs%2F1708.00003%26description%3DPrecise%2520Time%2520Delays%2520from%2520Chromatically%2520Microlensed%2520Type%2520Ia%2520Supernovae&amp;v=4e77f129" title="Bookmark on del.icio.us"><img src="//static.arxiv.org/icons/social/delicious.png" alt="del.icio.us logo" /></a>
      <a href="/ct?url=https%3A%2F%2Fdigg.com%2Fsubmit%3Furl%3Dhttp%3A%2F%2Farxiv.org%2Fabs%2F1708.00003%26title%3DPrecise%2520Time%2520Delays%2520from%2520Chromatically%2520Microlensed%2520Type%2520Ia%2520Supernovae&amp;v=eecee25d" title="Bookmark on Digg"><img src="//static.arxiv.org/icons/social/digg.png" alt="Digg logo" /></a>
      <a href="/ct?url=https%3A%2F%2Freddit.com%2Fsubmit%3Furl%3Dhttp%3A%2F%2Farxiv.org%2Fabs%2F1708.00003%26title%3DPrecise%2520Time%2520Delays%2520from%2520Chromatically%2520Microlensed%2520Type%2520Ia%2520Supernovae&amp;v=9c3d0d02" title="Bookmark on Reddit"><img src="//static.arxiv.org/icons/social/reddit.png" alt="Reddit logo" /></a>
      <a href="/ct?url=http%3A%2F%2Fsciencewise.info%2Fbookmarks%2Fadd%3Furl%3Dhttp%3A%2F%2Farxiv.org%2Fabs%2F1708.00003&amp;v=bc135dba" title="Bookmark on ScienceWISE"><img src="//static.arxiv.org/icons/social/sciencewise.png" alt="ScienceWISE logo" /></a>

    </div>
