{%- macro generate_ancillary_file_list(anc_file_list=[], cutoff=5) -%}
<ul>
  {%- for anc_file in anc_file_list -%}
    {% if loop.index == cutoff and anc_file_list|length > cutoff %}
  </ul><div id="long-anc-list"><ul>
    {% endif %}
  <li><a href="{{url_for('.src',arxiv_id=abs_meta.arxiv_id,file_name=anc_file['name'])}}">{{ anc_file['name'] }}</a></li>
  {%- endfor -%}
  {% if anc_file_list|length > cutoff %}
    {% set num_files_not_shown = anc_file_list|length - cutoff %}
  </ul></div><ul class="no-bullet"><li><a href="javascript:toggleList('long-anc-list','{{ num_files_not_shown }} additional file{% if num_files_not_shown > 1 %}s{% endif %} not shown');" title="Show entire file list." id="toggle">({{ num_files_not_shown }} additional file{% if num_files_not_shown > 1 %}s{% endif %} not shown)</a><noscript>&nbsp;You must enabled JavaScript to view entire file list.</noscript></li></ul>
  {% endif %}
{%- endmacro -%}

{%- macro generate_download_links(format_list=[]) -%}
<ul>
  {% if format_list|length == 0 %}
  <li>Unavailable</li>
  {% else %}
    {# We have to skip the 'src' format unless we're viewing the current version of the article #}
    {% for format in format_list if not (format == 'src' and abs_meta.version != abs_meta.version_history[-1].version)  %}
  <li>
    {%- if format == 'src' -%}
    <a href="{{url_for('.ps', arxiv_id=abs_meta.arxiv_id)}}">Source</a>
    {%- elif format.startswith('ps') -%}
    <a href="{{url_for('.ps', arxiv_id=abs_meta.arxiv_id)}}">PostScript{% if format.endswith('(400)') %} (400 dpi){% elif format.endswith('(600)') %} (600 dpi){% elif format.endswith('(cm)') %} (Type I cm){% elif format.endswith('(CM)') %} (Type I CM){% endif %}</a>
    {%- elif format.startswith('pdf') -%}
    <a href="{{url_for('.pdf', arxiv_id=abs_meta.arxiv_id)}}" accesskey="f">PDF{% if format.endswith('only') %} only{% endif %}</a>
    {%- elif format == 'dvi' -%}
    <a href="{{url_for('.dvi', arxiv_id=abs_meta.arxiv_id)}}">{{ format.upper() }}</a>
    {%- elif format == 'html' -%}
    <a href="{{url_for('.html', arxiv_id=abs_meta.arxiv_id)}}" accesskey="f">{{ format.upper() }}</a>
    {%- elif format == 'other' -%}
    <a href="{{url_for('.format', arxiv_id=abs_meta.arxiv_id)}}">Other formats</a>
    {%- elif format == 'nops' -%}
    <a href="{{url_for('.ps', arxiv_id=abs_meta.arxiv_id)}}">(PostScript unavailable)</a>
    {%- elif format == 'sciencewise_pdf' -%}
    {# TODO: consider this format for deprecation #}
    {# TODO: create clickthrough link from sciencewise link #}
    <a href="http://sciencewise.info/media/pdf/{{ abs_meta.arxiv_id_v }}.pdf" title="Tagged PDF on ScienceWISE.info">Tagged PDF</a>
    <a href="http://sciencewise.info/media/pdf/{{ abs_meta.arxiv_id_v }}.pdf" title="Tagged PDF on ScienceWISE.info">
      <img src="https://arxiv.org/icons/sciencewise75x32.png" height="16" width="38" alt="ScienceWISE" />
    </a>
    {%- endif -%}
  </li>
    {% endfor %}
  {% endif %}
</ul>
{%- endmacro -%}

{%- macro generate_browse_context() -%}
  {% set current_context = browse_context if browse_context else abs_meta.primary_category.id %}
  <h3>Current browse context:</h3>
  <div class="current">{{ current_context }}</div>
  <div class="prevnext">
    {%- if abs_meta.arxiv_identifier.is_old_id or current_context == 'arxiv' -%}
      {% if browse_context_previous_id %}
        <span class="arrow">
        <a href="{{ url_for('browse.abstract', arxiv_id=browse_context_previous_id.id, context='arxiv' if current_context == 'arxiv' else None) }}"
           accesskey="p" title="previous in {{ current_context }} (accesskey p)">&lt;&nbsp;prev</a>
        </span>
         {% else %}
           {# TODO might be a bug from the legacy system, this should probably be &lt;&nbsp;prev see ARXIVNG-1221 #}
        <span class="nolink">previous</span>
      {% endif %}
    {% else %}
      {% set prevnext_url = 'https://arxiv.org/prevnext?site=arxiv.org&id='+abs_meta.arxiv_identifier.id+'&context='+current_context %}
        <span class="arrow">
          <a href="{{ prevnext_url }}&function=prev"
             accesskey="p" title="previous in {{ current_context }} (accesskey p)">&lt;&nbsp;prev</a>
        </span>
    {%- endif -%}
    &nbsp;|&nbsp;
    {%- if abs_meta.arxiv_identifier.is_old_id or current_context == 'arxiv' -%}
        {% if browse_context_next_id %}
          <span class="arrow">
          <a href="{{ url_for('browse.abstract', arxiv_id=browse_context_next_id.id, context='arxiv' if current_context == 'arxiv' else None) }}"
             accesskey="n" title="next in {{ current_context }} (accesskey n)">next&nbsp;&gt;</a>
          </span>
        {% else %}
          <span class="nolink">next&nbsp;&gt;</span>
        {% endif %}
    {% else %}
          <span class="arrow">
          <a href="{{ prevnext_url }}&function=next"
             accesskey="n" title="next in {{ current_context }} (accesskey n)">next&nbsp;&gt;</a>
          </span>
    {%- endif -%}
    <br/>
  </div>

  {% if current_context != 'arxiv' %}
  {# This fixes a bug in the classic UI logic #}
<div class="list">
  <a href="{{url_for('.list_articles',context=current_context, subcontext='new')}}">new</a>&nbsp;|
  <a href="{{url_for('.list_articles',context=current_context, subcontext='recent')}}">recent</a>&nbsp;|
  <a href="{{url_for('.list_articles',context=current_context, subcontext=abs_meta.arxiv_identifier.yymm)}}">
      {{ abs_meta.arxiv_identifier.yymm }}</a>
  </div>
  {% endif %}

  {% if not abs_meta.arxiv_identifier.is_old_id and (abs_meta.get_browse_context_list()|length > 1) %}
  <h3>Change to browse by:</h3>
  <div class="switch">
    {% for category in abs_meta.get_browse_context_list() if not (current_context==category) %}
      {% set switch_url = url_for('browse.abstract', arxiv_id=abs_meta.arxiv_identifier.id, context=category) %}
      {% if '.' in category %}
      <span class="subclass"><a href="{{ switch_url}}">{{ category }}</a></span>
      {% else %}
      <a href="{{ switch_url}}">{{ category }}</a>
      {% endif %}
    <br/>
    {% endfor %}
  </div>
  {% endif %}
{%- endmacro -%}


{%- macro generate_dblp_section(author_cutoff=5) -%}
  <div class="dblp">
    <h3><a href="{{ dblp.base_url }}">DBLP</a> - CS Bibliography</h3>
    <div class="list">
      <a href="{{ dblp.listing_url }}" title="listing on DBLP">listing</a>{% if dblp.bibtex_path %} | <a href="{{ dblp.bibtex_base_url }}/{{ dblp.bibtex_path }}" title="DBLP bibtex record">bibtex</a>{% endif %}
    </div>
    {% if dblp.author_list %}
    <div class="list">
      {% for author in dblp.author_list[:author_cutoff] %}
      {# The only reason entity_to_utf is being used is becasue dblp has xml entities in the DB #}
      <a href="{{ dblp.author_search_url }}?author={{ author|entity_to_utf }}">{{ author|entity_to_utf }}</a><br/>
    {% endfor %}
    {% if dblp.author_list|length > author_cutoff %}
      <div class="list">&hellip;</div>
    {% endif %}
    <br/>
    </div>
    {% endif %}
  </div>
{%- endmacro -%}

{% block extra_services %}
  <div class="extra-services">
{# TODO: check whether anything but the ancillary files section uses this #}
{% if ancillary_files %}
    <script type="text/javascript">
    <!--
     function toggleList(whichLayer,toggleThis)
     {
        var elem, vis;
        if( document.getElementById ) // standard
          elem = document.getElementById( whichLayer );
        else if( document.all ) // old msie versions
          elem = document.all[whichLayer];
        else if( document.layers ) // nn4
          elem = document.layers[whichLayer];
        vis = elem.style;
        // if the style.display value is blank we try to figure it out here
        if(vis.display==''&&elem.offsetWidth!=undefined&&elem.offsetHeight!=undefined)
          vis.display = (elem.offsetWidth!=0&&elem.offsetHeight!=0)?'inline':'none';
        vis.display = (vis.display==''||vis.display=='inline')?'none':'inline';
        // toggle link inner text
        status = vis.display;
        if(vis.display=='inline'){
          document.getElementById('toggle').innerHTML = "(collapse list)";
          document.getElementById('toggle').title = "Collapse list";
        } else {
          document.getElementById('toggle').innerHTML = "("+toggleThis+")";
          document.getElementById('toggle').title = "Show complete list";
        }
     }
     //-->
    </script>
{% endif %}
    <div class="full-text">
      <span class="descriptor">Full-text links:</span>
      <h2>Download:</h2>
      {{ generate_download_links(format_list=formats) }}

      <div class="abs-license">
        {% if abs_meta.license.icon_uri_path %}
        <a href="{{abs_meta.license.effective_uri}}" title="Rights to this article"><img src="https://arxiv.org{{ abs_meta.license.icon_uri_path }}"/></a>
        {% else %}
        (<a href="{{abs_meta.license.effective_uri}}" title="Rights to this article">license</a>)
        {% endif %}
      </div>
    </div>
    <!--end full-text-->

{% if ancillary_files %}
  <div class="ancillary">
    <span class="descriptor">Ancillary-file links:</span>
    {# TODO need link to anc files details #}
    <h2>Ancillary files <span style="font-size:75%;font-weight:normal">(<a href="/src/0905.2326v2/anc">details</a>)</span>:</h2>
    {{ generate_ancillary_file_list(ancillary_files)}}
  </div><!--end ancillary-->
{% endif %}
    <div class="browse">
    {{ generate_browse_context() }}
    </div>

    <div class="extra-ref-cite">
      <h3>References &amp; Citations</h3>
      <ul>
        {% if include_inspire_link %}
        <li>
          <a href="https://inspirehep.net/search?p=find+eprint+{{ abs_meta.arxiv_id }}">INSPIRE HEP</a><br/>
          (<a href="/refs/{{ abs_meta.arxiv_id }}">refers to</a> | <a href="/cits/{{ abs_meta.arxiv_id }}">cited by </a>)
        </li>
        {% endif %}
        <li><a href="http://adsabs.harvard.edu/cgi-bin/bib_query?arXiv:{{ abs_meta.arxiv_id }}">NASA ADS</a></li>
      </ul>
    </div>

    {# DBLP is a bibliographical database primarily for Computer Science papers #}
    {% if dblp %}
      {{ generate_dblp_section() }}
    {% endif %}

    {% if trackback_ping_count and trackback_ping_count > 0 %}
    <div class="extra-general">
        <div class="what-is-this">
            <h3><a href="/tb/{{ abs_meta.arxiv_id }}"> {{ trackback_ping_count }} blog links</a></h3> (<a href="{{url_for('help_trackback')}}">what is this?</a>)
        </div>
    </div>
    {% endif %}

    {% include "abs/bookmarking.html" %}
    
  </div>
  <!--end extra-services-->
{% endblock extra_services %}
