{%- macro generate_download_links(format_list=[]) -%}
<ul>
  {% if format_list|length == 0 %}
  <li>Unavailable</li>
  {% else %}
    {# We have to skip the 'src' format unless we're viewing the current version of the article #}
    {% for format in format_list if not (format == 'src' and abs_meta.version != abs_meta.version_history[-1].version)  %}
  <li>
    {%- if format == 'src' -%}
    <a href="/ps/{{ abs_meta.arxiv_id }}">Source</a>
    {%- elif format.startswith('ps') -%}
    <a href="/ps/{{ abs_meta.arxiv_id }}">PostScript{% if format.endswith('(400)') %} (400 dpi){% elif format.endswith('(600)') %} (600 dpi){% elif format.endswith('(cm)') %} (Type I cm){% elif format.endswith('(CM)') %} (Type I CM){% endif %}</a>
    {%- elif format.startswith('pdf') -%}
    <a href="/pdf/{{ abs_meta.arxiv_id }}" accesskey="f">PDF{% if format.endswith('only') %} only{% endif %}</a>
    {%- elif format == 'dvi' or format == 'html' -%}
    <a href="/{{ format }}/{{ abs_meta.arxiv_id }}"{% if format == 'html' %} accesskey="f"{% endif %}>{{ format.upper() }}</a>
    {%- elif format == 'other' -%}
    <a href="/format/{{ abs_meta.arxiv_id }}">Other formats</a>
    {%- elif format == 'nops' -%}
    <a href="/ps/{{ abs_meta.arxiv_id }}">(PostScript unavailable)</a>
    {%- elif format == 'sciencewise_pdf' -%}
    {# TODO: consider this format for deprecation #}
    {# TODO: create clickthrough link from sciencewise link #}
    <a href="http://sciencewise.info/media/pdf/{{ abs_meta.arxiv_id_v }}.pdf" title="Tagged PDF on ScienceWISE.info">Tagged PDF</a> <a href="http://sciencewise.info/media/pdf/{{ abs_meta.arxiv_id_v }}.pdf" title="Tagged PDF on ScienceWISE.info"><img src="https://arxiv.org/icons/sciencewise75x32.png" height="16" width="38" alt="ScienceWISE" /></a>
    {%- endif -%}
  </li>
    {% endfor %}
  {% endif %}
</ul>
{%- endmacro -%}

{%- macro generate_browse_context() -%}
  {% set current_context = browse_context if browse_context else abs_meta.primary_category.id %}
  <h3>Current browse context:</h3>
  <div class="current">{{ current_context }}</div>
  <div class="prevnext">
    <span class="arrow">
    {%- if abs_meta.arxiv_identifier.is_old_id or current_context == 'arxiv' -%}
      {% if browse_context_previous_id %}<a href="{{ url_for('browse.abstract', arxiv_id=browse_context_previous_id.id, context='arxiv' if current_context == 'arxiv' else None) }}" accesskey="p" title="previous in {{ current_context }} (accesskey n)">&lt;&nbsp;prev</a>{% else %}<span class="nolink">&lt;&nbsp;prev</span>{% endif %}
    {% else %}
      {% set prevnext_url = 'https://arxiv.org/prevnext?site=arxiv.org&id='+abs_meta.arxiv_identifier.id+'&context='+current_context %}
      <a href="{{ prevnext_url }}&function=prev" accesskey="p" title="previous in {{ current_context }} (accesskey p)">&lt;&nbsp;prev</a>
    {%- endif -%}
    </span>&nbsp;|&nbsp;
    <span class="arrow">
    {%- if abs_meta.arxiv_identifier.is_old_id or current_context == 'arxiv' -%}
      {% if browse_context_next_id %}<a href="{{ url_for('browse.abstract', arxiv_id=browse_context_next_id.id, context='arxiv' if current_context == 'arxiv' else None) }}" accesskey="n" title="next in {{ current_context }} (accesskey n)">next&nbsp;&gt;</a></span>{% else %}<span class="nolink">next&nbsp;&gt;</span>{% endif %}
    {% else %}
      <a href="{{ prevnext_url }}&function=next" accesskey="n" title="next in {{ current_context }} (accesskey n)">next&nbsp;&gt;</a>
    {%- endif -%}
    </span>
    <br/>
  </div>

  {% if current_context != 'arxiv' %}
  {# This fixes a bug in the classic UI logic #}
  <div class="list">
    <a href="https://arxiv.org/list/{{ current_context }}/new">new</a>&nbsp;| <a href="https://arxiv.org/list/{{ current_context }}/recent">recent</a>&nbsp;| <a href="https://arxiv.org/list/{{ current_context }}/{{ abs_meta.arxiv_identifier.yymm }}">{{ abs_meta.arxiv_identifier.yymm }}</a>
  </div>
  {% endif %}

  {% if not abs_meta.arxiv_identifier.is_old_id %}
  <h3>Change to browse by:</h3>
  <div class="switch">
    {% for category in abs_meta.get_browse_context_list() if not (current_context==category) %}
      {% set switch_url = url_for('browse.abstract', arxiv_id=abs_meta.arxiv_identifier.id, context=category) %}
      {% if '.' in category %}
      <span class="subclass"><a href="{{ switch_url}}">{{ category }}</a></span>
      {% else %}
      <a href="{{ switch_url}}">{{ category }}</a>
      {% endif %}
    <br/>
    {% endfor %}
  </div>
  {% endif %}
{%- endmacro -%}


{%- macro generate_dblp_section(author_cutoff=5) -%}
  <div class="dblp">
    <h3><a href="{{ dblp.base_url }}">DBLP</a> - CS Bibliography</h3>
    <div class="list">
      <a href="{{ dblp.listing_url }}" title="listing on DBLP">listing</a>{% if dblp.bibtex_path %} | <a href="{{ dblp.bibtex_base_url }}/{{ dblp.bibtex_path }}" title="DBLP bibtex record">bibtex</a>{% endif %}
    </div>
    {% if dblp.author_list %}
    <div class="list">
    {% for author in dblp.author_list[:author_cutoff] %}
      <a href="{{ dblp.author_search_url }}?author={{ author }}">{{ author }}</a><br/>
    {% endfor %}
    {% if dblp.author_list|length > author_cutoff %}
      <div class="list">&hellip;</div>
    {% endif %}
    <br/>
    </div>
    {% endif %}
  </div>
{%- endmacro -%}

{% block extra_services %}
   <div class="extra-services">

    <div class="full-text">
      <span class="descriptor">Full-text links:</span>
      <h2>Download:</h2>
      {{ generate_download_links(format_list=formats) }}

      <div class="abs-license">
        {% if abs_meta.license.icon_uri_path %}
        <a href="{{abs_meta.license.effective_uri}}" title="Rights to this article"><img src="https://arxiv.org{{ abs_meta.license.icon_uri_path }}"/></a>
        {% else %}
        (<a href="{{abs_meta.license.effective_uri}}" title="Rights to this article">license</a>)
        {% endif %}
      </div>
    </div>
    <!--end full-text-->

    <div class="browse">
    {{ generate_browse_context() }}
    </div>

    <div class="extra-ref-cite">
      <h3>References &amp; Citations</h3>
      <ul>
        {% if include_inspire_link %}
        <li><a href="https://inspirehep.net/search?p=find+eprint+{{ abs_meta.arxiv_id }}">INSPIRE HEP</a><br/>(<a href="/refs/{{ abs_meta.arxiv_id }}">refers to</a> | <a href="/cits/{{ abs_meta.arxiv_id }}">cited by </a>)</li>
        {% endif %}
        <li><a href="http://adsabs.harvard.edu/cgi-bin/bib_query?arXiv:{{ abs_meta.arxiv_id }}">NASA ADS</a></li>
      </ul>
    </div>

    {# DBLP is a bibliographical database primarily for Computer Science papers #}
    {% if dblp %}
      {{ generate_dblp_section() }}
    {% endif %}

    <div class="bookmarks">
      <div class="what-is-this">
        {# TODO: bookmarks section (..get rid of Digg) #}
        <h3>Bookmark</h3> (<a href="/help/social_bookmarking">what is this?</a>)
      </div>
      <a href="/ct?url=http%3A%2F%2Fwww.citeulike.org%2Fposturl%3Furl%3Dhttp%3A%2F%2Farxiv.org%2Fabs%2F1708.00003%26title%3DPrecise%2520Time%2520Delays%2520from%2520Chromatically%2520Microlensed%2520Type%2520Ia%2520Supernovae%26authors%3D&amp;v=efe9693d" title="Bookmark on CiteULike"><img src="//static.arxiv.org/icons/social/citeulike.png" alt="CiteULike logo" /></a>
      <a href="/ct?url=http%3A%2F%2Fwww.bibsonomy.org%2FBibtexHandler%3FrequTask%3Dupload%26url%3Dhttp%3A%2F%2Farxiv.org%2Fabs%2F1708.00003%26description%3DPrecise%2520Time%2520Delays%2520from%2520Chromatically%2520Microlensed%2520Type%2520Ia%2520Supernovae&amp;v=b8be226d"
        title="Bookmark on BibSonomy"><img src="//static.arxiv.org/icons/social/bibsonomy.png" alt="BibSonomy logo" /></a>
      <a href="/ct?url=https%3A%2F%2Fwww.mendeley.com%2Fimport%2F%3Furl%3Dhttp%3A%2F%2Farxiv.org%2Fabs%2F1708.00003&amp;v=2a683b27" title="Bookmark on Mendeley"><img src="//static.arxiv.org/icons/social/mendeley.png" alt="Mendeley logo" /></a>
      <a href="/ct?url=https%3A%2F%2Fdel.icio.us%2Fpost%3Furl%3Dhttp%3A%2F%2Farxiv.org%2Fabs%2F1708.00003%26description%3DPrecise%2520Time%2520Delays%2520from%2520Chromatically%2520Microlensed%2520Type%2520Ia%2520Supernovae&amp;v=4e77f129" title="Bookmark on del.icio.us"><img src="//static.arxiv.org/icons/social/delicious.png" alt="del.icio.us logo" /></a>
      <a href="/ct?url=https%3A%2F%2Fdigg.com%2Fsubmit%3Furl%3Dhttp%3A%2F%2Farxiv.org%2Fabs%2F1708.00003%26title%3DPrecise%2520Time%2520Delays%2520from%2520Chromatically%2520Microlensed%2520Type%2520Ia%2520Supernovae&amp;v=eecee25d" title="Bookmark on Digg"><img src="//static.arxiv.org/icons/social/digg.png" alt="Digg logo" /></a>
      <a href="/ct?url=https%3A%2F%2Freddit.com%2Fsubmit%3Furl%3Dhttp%3A%2F%2Farxiv.org%2Fabs%2F1708.00003%26title%3DPrecise%2520Time%2520Delays%2520from%2520Chromatically%2520Microlensed%2520Type%2520Ia%2520Supernovae&amp;v=9c3d0d02" title="Bookmark on Reddit"><img src="//static.arxiv.org/icons/social/reddit.png" alt="Reddit logo" /></a>
      <a href="/ct?url=http%3A%2F%2Fsciencewise.info%2Fbookmarks%2Fadd%3Furl%3Dhttp%3A%2F%2Farxiv.org%2Fabs%2F1708.00003&amp;v=bc135dba" title="Bookmark on ScienceWISE"><img src="//static.arxiv.org/icons/social/sciencewise.png" alt="ScienceWISE logo" /></a>

    </div>
  </div>
  <!--end extra-services-->
{% endblock extra_services %}
