<!-- LABS AREA -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="bibliographic-tab" data-bs-toggle="tab" data-bs-target="#bibliographic" type="button" role="tab" aria-controls="home" aria-selected="true">Bibliographic Tools</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="code-tab" data-bs-toggle="tab" data-bs-target="#code" type="button" role="tab" aria-controls="profile" aria-selected="false">Code</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="related-tab" data-bs-toggle="tab" data-bs-target="#related" type="button" role="tab" aria-controls="contact" aria-selected="false">Related Papers</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="about-tab" data-bs-toggle="tab" data-bs-target="#about" type="button" role="tab" aria-controls="contact" aria-selected="false">About arXivLabs</button>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="bibliographic" role="tabpanel" aria-labelledby="bibliographic-tab">
    <h3>Bibliographic and Citation Tools</h3>
    <div class="container toggle">
      <div class="row">
        <div class="col-auto form-check form-switch">
          <input class="form-check-input" type="checkbox" id="bibex-toggle"/>
          <label class="form-check-label" for="bibex-toggle">Bibliographic Explorer</label>
        </div>
        <div class="col"><em>(<a href="https://labs.arxiv.org/">What is the Explorer?</a>)</em></div>
      </div>
    </div>
    <div class="labs-content-placeholder labs-display" style="display: none;"></div>
  </div>


  <div class="tab-pane fade" id="code" role="tabpanel" aria-labelledby="code-tab">
    <h3>Code Associated with this Article</h3>
    <div class="container toggle">
      <div class="row">
        <div class="col-auto form-check form-switch">
          <input class="form-check-input" type="checkbox" id="paperwithcode-toggle" data-script-url="{{ url_for('static', filename='js/paperswithcode.js') }}"/>
          <label class="form-check-label" for="paperwithcode-toggle">arXiv Links to Code</label>
        </div>
        <div class="col"><em>(<a href="https://labs.arxiv.org/" target="_blank">What is Links to Code?</a>)</em></div>
      </div>
    </div>
    <div id="pwc-output"></div>
  </div>


  <div class="tab-pane fade" id="related" role="tabpanel" aria-labelledby="related-tab">
    <h3>Recommenders and Search Tools</h3>
    <div class="container toggle">
      <div class="row">
        <div class="col-auto form-check form-switch">
          <input class="form-check-input" type="checkbox" id="connectedpapers-toggle" data-script-url="{{ url_for('static', filename='js/connectedpapers.js') }}" />
          <label class="form-check-label" for="connectedpapers-toggle">arXiv Links to Code</label>
        </div>
        <div class="col"><em>(<a href="https://labs.arxiv.org/" target="_blank">What is Links to Code?</a>)</em></div>
      </div>
      <div class="row">
        <div class="col-auto form-check form-switch">
          <input class="form-check-input" type="checkbox" id="core-recommender-toggle" data-script-url="{{ url_for('static', filename='js/connectedpapers.js') }}" />
          <label class="form-check-label" for="core-recommender-toggle">CORE Recommender</label>
        </div>
        <div class="col"><em>(<a href="https://labs.arxiv.org/">What is CORE?</a>)</em></div>
      </div>
    </div>
    <div style="min-height: 15px" id="connectedpapers-output"></div>
    <div id="coreRecommenderOutput"></div>
  </div>


  <div class="tab-pane fade" id="about" role="tabpanel" aria-labelledby="about-tab">
    <div class="container">
      <div class="row">
        <div class="col">
          <h1>arXivLabs: experimental projects with community collaborators</h1>
          <p>arXivLabs is a framework that allows collaborators to develop and share new arXiv features directly on our website.</p>
          <p>Both individuals and organizations that work with arXivLabs have embraced and accepted our values of openness, community, excellence, and user data privacy. arXiv is committed to these values and only works with partners that adhere to them.</p>
          <p>Have an idea for a project that will add value for arXiv's community? <a href="https://labs.arxiv.org/"><strong>Learn more about arXivLabs</strong></a> and <a href="https://arxiv.org/about/people/developers"><strong>how to get involved</strong></a>.</p>
        </div>
        <div class="col-auto">
          <svg width="100" role="presentation">
            <use xlink:href="{{ url_for('base.static', filename='images/icons/custom-icons.svg') }}#arxiv-labs"/>
          </svg>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- END LABS AREA -->
