<div class="labs-toggle">
  <img src="{{ url_for('static', filename='images/arxiv-LABS-wordmark.png') }}" alt="arXiv LABS">
  <p>Try experimental features in arXivLabs. Check back soon for more.</p>
{% if config['LABS_BIBEXPLORER_ENABLED'] %}
  <div class="columns is-mobile lab-row">
    <div class="column lab-name">
      Bibliographic Explorer
    </div>
    <div class="column lab-switch is-one-fifth-desktop is-narrow-mobile">
      <label class="switch">
        <input id="bibex-toggle" type="checkbox" class="lab-toggle">
        <span class="slider"></span>
      </label>
    </div>
  </div>
{% endif %}
{% if config['LABS_CORE_RECOMMENDER_ENABLED'] %}
  <div class="columns is-mobile lab-row">
    <div class="column lab-name">
      CORE Recommender
      <br>
      (<a href="https://labs.arxiv.org/">What is CORE?</a>)
    </div>
    <div class="column lab-switch is-one-fifth-desktop is-narrow-mobile">
      <label class="switch">
        <input id="core-recommender-toggle" type="checkbox" class="lab-toggle">
        <span class="slider"></span>
      </label>
    </div>
  </div>
{% endif %}
  <div class="labs-cta"><a href="https://labs.arxiv.org/">Learn More</a> | <a href="https://arxiv.org/about/people/developers">Contribute</a></div>
</div>
