{%- extends "base.html" -%}

{% block head %}
{{ super() }}
<link rel="alternate" type="application/rss+xml" title="{{archive['name']}}" href="/rss/{{archive_id}}"/>
{% endblock head %}

{% block title %}{{archive.name}}{% endblock %}

{% block header_h1 %}
<h1>
<a href="/">{{ config['BROWSE_SITE_LABEL'] }}</a> > <a href="{{url_for('.list_articles', context=archive_id, subcontext='recent')}}">{{archive_id}}</a>
</h1>
{% endblock %}


{%- block content %}
<div id='content'>
  <h1>{{archive.name}} <span style="font-size: 70%;">(since {{archive.start_date.strftime('%B %Y')}})</span></h1>

  {% if subsumed_id %}
    <p>The <b>{{subsumed_id}}</b> archive has been subsumed into
      <span class="primary-subject">{{subsuming_category['name']}} ({{subsumed_by}}).</span></p>
    <p>{{subsuming_category['name']}} ({{subsumed_by}}) is part of the {{archive['name']}} archive.</p>
  {% endif %}


  <p>For a <em>specific paper</em>, enter the identifier into the top right search box.</p>

  <ul>
    <li><b>Browse:</b>
      <ul>
        <li>
          <a href="{{url_for('.list_articles', context=archive_id, subcontext='new')}}">new</a>
          (most recent mailing, with abstracts)
        </li>
        <li><a href="{{url_for('.list_articles', context=archive_id, subcontext='recent')}}">recent</a>
          (last 5 mailings)
        </li>
        <li><a href="{{url_for('.list_articles', context=archive_id, subcontext='current')}}">current month's</a>
          nlin listings</li>
        <li>specific year/month:
          <form action="{{url_for('.list_articles')}}" method="get">
            {{ list_form.archive }}
            {{ list_form.year}} {{ list_form.month}}
            {{list_form.submit}}
          </form>
        </li>
      </ul>
    </li>

    <li><b>Catch-up:</b>
      {# TODO using legacy /catchup URL, change to NG when implemented #}
      <form action="/catchup" method="post">
        {{ catchup_form.archive }}
        Changes since:
        {{ catchup_form.year }}
        {{ catchup_form.month }}
        {{ catchup_form.day }},
        view results {{ catchup_form.abstracts }} abstracts
        {{ catchup_form.submit }}
      </form>
    </li>
    <li><b>Search</b> within the <a href="{{ url_for('search_archive', archive=archive_id) }}">{{archive_id}} archive</a></li>
    
    <li>Article statistics by year:<br>
      {% for url, year in stats_by_year %}
      <a href="{{url}}">{{year}}</a>
      {% endfor %}
    </li>

  </ul>

  {% if  category_list|length > 1 %}
  <h2>Categories within {{archive.name}}</h2>
  <ul>
    {%  for category in category_list %}
      <li><b>{{category.id}} - {{category.name}}</b>
        (<a href="{{url_for('.list_articles', context=category.id, subcontext='new')}}">new</a>,
        <a href="{{url_for('.list_articles', context=category.id, subcontext='recent')}}">recent</a>,
        <a href="{{url_for('.list_articles', context=category.id, subcontext='current')}}">current month</a>)
       <div class="description">{{category.description}}</div>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
{%- endblock %}
