{%- extends "base.html" -%}

{% block head %}
{{ super() }}
<link rel="alternate" type="application/rss+xml" title="{{archive['name']}}" href="/rss/{{archive_id}}"/>
{% endblock head %}

{% block title %}{{archive.full_name}}{% endblock %}

{% block header_h1 %}
<h1 class="header-breadcrumbs"><a href="/"><img src="{{ url_for('static', filename='images/arxiv-logo-one-color-white.svg') }}" alt="arxiv logo" style="height:40px;"/></a> <span>&gt;</span> <a href="{{url_for('.list_articles', context=archive.id, subcontext='recent')}}">{{archive.id}}</a></h1>
{% endblock %}


{%- block content %}
  <h1>{{archive.full_name}} <span style="font-size: 70%;">(since {{archive.start_date.strftime('%B %Y')}})</span></h1>

  {% if subsumed_id %}
    <p>The <b>{{subsumed_id}}</b> archive has been subsumed into
      <span class="primary-subject">{{subsuming_category.full_name}} ({{subsuming_category.id}}).</span></p>
    <p>{{subsuming_category.full_name}} ({{subsuming_category.id}}) is part of the {{archive.full_name}} archive.</p>
  {% endif %}


  <p>For a <em>specific paper</em>, enter the identifier into the top right search box.</p>

  <ul>
    <li><b>Browse:</b>
      <ul>
        <li>
          <a href="{{url_for('.list_articles', context=archive.id, subcontext='new')}}">new</a>
          (most recent mailing, with abstracts)
        </li>
        <li><a href="{{url_for('.list_articles', context=archive.id, subcontext='recent')}}">recent</a>
          (last 5 mailings)
        </li>
        <li><a href="{{url_for('.list_articles', context=archive.id, subcontext='current')}}">current month's</a>
          {{archive_id}} listings</li>
          <li>specific year/month:

            <form action="{{url_for('.list_articles')}}" method="get">
            {{ list_form.archive }}
            {{ list_form.year}} {{ list_form.month}}
            {{list_form.submit}}
          </form>
        </li>
      </ul>
    </li>

    <li><b>Catch-up:</b>
      {# hard coded for legacy /catchup for now #}
      <form action="/catchup" method="post">
        <input name="archive" type="hidden" value="{{archive.id}}"/>
        Changes since:
        <select name="sday">
          {% for day in days %}
            <option {% if day == catchup_to.strftime('%d') %}selected="true"{% endif %}>{{day}}</option>
          {% endfor %}
        </select>
        <select name="smonth">
          {% for val, name in months %}
            <option value="{{val}}"
                    {% if day == catchup_to.strftime('%m') %}selected="true"{% endif %}>
                    {{name}}</option>
          {% endfor %}
        </select>
        <select name="syear">
          {% for year in years %}
            <option {% if year == catchup_to.strftime('%Y')%} selected="true"{% endif %}>{{year}}</option>
          {% endfor %}
        </select>
        , view results <select name="method">
        <option selected="selected">
          without
        </option>
        <option>
          with
        </option>
        </select>
        abstracts
        <input type="submit" value="Go"/>
      </form>
    </li>
    <li><b>Search</b> within the <a href="{{ url_for('search_archive', archive=archive.id) }}">{{archive.id}} archive</a></li>

    <li>Article statistics by year:<br>
      {% for url, year in stats_by_year %}
      <a href="{{url}}">{{year}}</a>
      {% endfor %}
    </li>

  </ul>

  {% if  category_list|length > 1 %}
  <h2>Categories within {{archive.full_name}}</h2>
  <ul>
    {%  for category in category_list %}
      <li><b>{{category.id}} - {{category.full_name}}</b>
        (<a href="{{url_for('.list_articles', context=category.id, subcontext='new')}}">new</a>,
        <a href="{{url_for('.list_articles', context=category.id, subcontext='recent')}}">recent</a>,
        <a href="{{url_for('.list_articles', context=category.id, subcontext='current')}}">current month</a>)
        {% if category.description %}
          <div class="description">{{category.description}}</div>
        {% endif %}
    </li>
    {% endfor %}
  </ul>
  {% endif %}
{%- endblock %}
