{% extends "base.html" %}
{%- block title -%}{{ error.description }}{%- endblock -%}
{% block login_link %}{% endblock %}

{% block head %}
  {{ super() }}
{% endblock head %}

{% block content %}

<h1>{{ error.description }}</h1>
<p>The server cannot process your request due to syntax errors, missing 
  required data or invalid content-type. Please check your URL and try again.</p>

<hr>
<p>If you believe this is an error or have questions please contact
  <a href="mailto:help@arxiv.org">help@arxiv.org</a> and
  please provide:</p>
<ol>
  <li>The URL which causes the problem</li>
  <li>A brief description of what you expected to see/happen and what you
    observed.
  </li>
</ol>

{%- endblock -%}
