{%- macro alert(title, content) -%}
<div class="alert" role="status" aria-label="{{title}}">
    <button aria-label="Dismiss alert" onclick="closePopup()">
        <span aria-hidden="true"><svg role="presentation" width="15" height="15" viewBox="0 0 44 44" aria-hidden="true" focusable="false">
        <path d="M0.549989 4.44999L4.44999 0.549988L43.45 39.55L39.55 43.45L0.549989 4.44999Z" />
        <path d="M39.55 0.549988L43.45 4.44999L4.44999 43.45L0.549988 39.55L39.55 0.549988Z" />
        </svg></span>
    </button>
    <h3>Notice: {{title}}</h3>
    <p>{{content}}</p>
</div>

{% raw %}
<script>
    function closePopup() {{
        document.querySelector('.alert').style.display = 'none';
    }}
</script>
{% endraw %}
{%-endmacro-%}