{% extends "base.html" %}

{% block title %}Audio for {{arxiv_idv}}{% endblock %}

{% block header_h1 %}
<h1>
<a href="{{ url_for('browse.home') }}">{{ config['BROWSE_SITE_LABEL'] }}</a> &gt
<a href="{{url_for('browse.abstract', arxiv_id=abs_meta.arxiv_id_v)}}">{{abs_meta.arxiv_id_v}}</a> &gt audio
</h1>
{% endblock %}

{% block content %}
<div>
    <div>
        <h1>Audio for {{abs_meta.arxiv_id}}: {{abs_meta.title}}</h1>
        <a href="{{url_for('browse.abstract', arxiv_id=abs_meta.arxiv_id_v)}}">< Return to abstract page</a>
        {% if 'sciencecast' in audio_urls %}
            <div>
                <h2>ScienceCast Audio Summary</h2>
                60-second AI-generated audio summary created during paper submission process. <a href="https://sciencecast.org/">Learn more about ScienceCast.</a>
                <p>
                    {% if audio_urls['sciencecast'].url %}
                        <a href="{{audio_urls['sciencecast'].url}}">Visit ScienceCast to listen</a>
                    {% elif audio_urls['sciencecast'].not_available_reason %}
                        {{audio_urls['sciencecast'].not_available_reason}}
                    {% else %}
                        Paper not yet available from Sciencecast.
                    {% endif %}
                </p>
            </div>
        {% endif %}

        {% if not audio_urls %}
            <div>No audio links for {{abs_meta.arxiv_id}}.</div>
        {% endif %}
    </div>

</div>
{% endblock %}