{%- extends "base.html" -%}

{% block title %}Catchup{% endblock %}

{% block header_h1 %}
<div class="header-breadcrumbs">
  <a href="{{ url_for('.home') }}"><img src="{{ url_for('static', filename='images/arxiv-logo-one-color-white.svg') }}" alt="arxiv logo" style="height:40px;"/></a> <span>&gt;</span>
</div>
{% endblock %}

{%- block content %}
  Catchup on:
  <form action="{{ url_for('.catchup_form') }}" method="get" onsubmit="combineDate()">
    Subject: <br>
    Group:
    <select name="group" id="group" onchange="updateArchive()">
      <option value="" selected disabled>Select an option</option>
      {% for group in groups.values() %}
        {% if group.is_active and not group.is_test %}
          <option value="{{ group.id }}">{{ group.full_name }}</option>
        {% endif %}
      {% endfor %}
    </select>

    Archive:
    <select name="archive" id="archive">
      <option value="" selected disabled>Select an archive</option>
      {% for group in groups.values() %}
        {% if group.is_active and not group.is_test %}
          {% for archive in group.get_archives() %}
            <option class="archive-option archive-{{ group.id }}" value="{{ archive.id }}" style="display: none;">
              {{ archive.full_name }}
            </option>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </select>

    Category:

    <br>
    Changes since:

    <select id="day">
      {% for day in days %}
          <option value="{{ day }}">{{ day }}</option>
      {% endfor %}
    </select>
    <select id="month">
        {% for val, name in months %}
            <option value="{{ val }}">{{ name }}</option>
        {% endfor %}
    </select>
    <select id="year">
        {% for year in years %}
            <option value="{{ year }}">{{ year }}</option>
        {% endfor %}
    </select>
    <input type="hidden" id="date" name="date" />
    
    , view results 
    <select name="include_abs">
      <option value="True">with</option>
      <option value="False" selected>without</option>
    </select>
     abstracts

    <input type="submit" value="Go"/>
  </form>

  <script>
    function combineDate() {
        var day = document.getElementById('day').value.padStart(2, '0'); 
        var month = document.getElementById('month').value.padStart(2, '0'); 
        var year = document.getElementById('year').value;
        var combinedDate = `${year}-${month}-${day}`;
        
        document.getElementById('date').value = combinedDate;
    }

    function updateArchive() {
      const selectedGroupId = document.getElementById("group").value;
      const archiveDropdown = document.getElementById("archive");
      const archiveOptions = document.querySelectorAll('.archive-option');
  
      archiveDropdown.value = ""; 

      archiveOptions.forEach(option => {
        option.style.display = 'none';
      });
  
      // Show only the options that match the selected group
      const relevantArchives = document.querySelectorAll('.archive-' + selectedGroupId);
      relevantArchives.forEach(option => {
        option.style.display = 'block';
      });

      if (relevantArchives.length === 1) {
        archiveDropdown.value = relevantArchives[0].value;  // Automatically select the only option
      }
    }

</script>

{%- endblock %}
