{%- extends "base.html" -%}

{% block title %}Catchup{% endblock %}

{% block header_h1 %}
<div class="header-breadcrumbs">
  <a href="{{ url_for('.home') }}"><img src="{{ url_for('static', filename='images/arxiv-logo-one-color-white.svg') }}" alt="arxiv logo" style="height:40px;"/></a> <span>&gt;</span>
</div>
{% endblock %}

{%- block content %}
  Catchup on:
  <form action="{{ url_for('.catchup_form') }}" method="get" >
    Subject:
    <select name="subject">
      <option value="math">math</option>
      <option value="math.NA">math.NA</option>
      <option value="grp_physics">grp_physics</option>
    </select>

    Changes since:

    <select name="date">
      <option value="2024-08-26">a</option>
      <option value="2024-08-03">b</option>
      <option value="2024-09-03">c</option>
    </select>
    
    <input type="submit" value="Go"/>
  </form>

{%- endblock %}
