{%- extends "base.html" -%}
{% block title %}Category Taxonomy{% endblock %}
{% block header_h1 %}<h1><a href="/">{{ config['BROWSE_SITE_LABEL'] }}</a> &gt; category taxonomy</h1>{% endblock %}
{# Disable login on this page for now, per classic #}
{% block login_link %}{% endblock %}

{%- block content %}
<h1>arXiv Category Taxonomy</h1>
<div id="guide" style="border-radius: 5px; border: 1px solid; width: 55%; padding-left: 5px">
  <h2>Group Name</h2>
  <ul>
    <li>Archive Name (Archive ID) - omitted if there is only a single archive with the same name as the group</li>
    <ul>
      <li><b>Category Name (Category ID)</b><br />Category description if available</li>
    </ul>
  </ul>
</div>

{%- for group_key, group_details in groups.items() if not group_details.is_test  -%}
<h2>{{ groups[group_key].name }}</h2>

{% endfor %}

{% endblock content %}
