{%- extends "base.html" -%}

{% block title %}c{% endblock %}

{% block header_h1 %}<h1><a href="{{ url_for('.home') }}">{{ config['BROWSE_SITE_LABEL'] }}</a> &gt; cookies</h1>{% endblock header_h1 %}

{%- block content %}
<h1>arXiv's use of Cookies</h1>

<p>arXiv may gather information to track user trends and site usage with
the goal of improving our website users’ experience and optimizing our
website. We also use the information to administer the website and
prevent abuse.</p>

<p>Cookies – Like most other website operators, we may collect Personal
Data via cookies and similar technologies. Cookies are small text
files stored on your computer and accessible only to the websites that
create them. They are stored locally by the browser you are using. If
you switch browsers, or use a different computer, your cookies will
not follow you.</p>

<p>arXiv uses cookies to save preferences you may have chosen for your
use of arXiv. This includes, but is not limited to:</p>

<ul>
  <li>That you have dismissed a banner we may have shown you.</li>
  <li>Which Labs integrations you want to see on each abstract page.</li>
  <li>Whether you want MathJax to be used when rendering article abstracts. (set on this page.)</li>
  <li>Search preferences, such as the sorting order of the results </li>
</ul>

Cookies are also used when you log in to your arXiv account, in order
to store your user identification and session authentication
information.

We do not use cookies to track your use of arXiv. Our website may use
cookies to keep you logged into secure areas of the website and/or to
keep track of your preferences as you interact with certain
services. It is not necessary to use/permit cookies to read articles
on arXiv.org; if you do not wish to permit cookies, you can modify the
settings in your web browser, but you will not be able to login or set
preferences.

<form action="{{form_url}}" method="post">
  {% for cc in cookies_config %}
    {% set id = cc['id'] %}
    {% set label = cc['label'] %}
    {% set name = cc['name'] %}
    {% set options = cc['options'] %}

    <br>{{label}}<select name="{{id}}">
        {% for opt in options %}
          {% set value = opt[0] %}
          {% set opt_label = opt[1] %}
          {% set selected = opt[2] %}
          <option value="{{value}}"
                  {% if selected %}selected="selected"{% endif %}
                  >{{opt_label}}</option>
        {% endfor %}
    </select>
  {% endfor %}
  <input type="submit" name="set" value="Set" />
</form>

<hr />

{% if debug %}
<h2>Debugging information: dump of current cookie data</h2>
<table cellpadding="4" style="background: #666666; border: 0; padding: 5;"><tr>
    <th align="left" >Name</th><th align="left">Value</th></tr>
  {% for cooname in request.cookies.keys() %}
    <tr bgcolor="#EEEEEE">
      {% if cooname in controlled_cookies %}
        <td><em><code>{{cooname}}</code></em></td>
      {% else %}
        <td><code>{{cooname}}</code></td>
      {% endif %}
      <td><code>{{ request.cookies[cooname] }}</code></td>
    </tr>
    {% endfor %}
</table>

<p>Only those cookies shown <em>emphasized</em> in the table above are controlled
  by this interface. arXiv uses other cookies such as 
  <code>tapir_permanent</code> to maintain session and permanent login settings.
  You can, if you want, clear all cookies using the controls in your browser.</p>

<h2>Debugging information: dump of http request headers</h2>
<table cellpadding="4" style="background: #666666; border: 0; padding: 5;"><tr>
    <th align="left" >Name</th><th align="left">Value</th></tr>
  {% for headername in request.headers.keys() %}
    <tr bgcolor="#EEEEEE">
      <td><code>{{headername}}</code></td>
      <td><code>{{ request.headers[headername] }}</code></td>
    </tr>
    {% endfor %}
</table>

<p><small>(<a href="{{url_for('browse.cookies')}}">hide debugging information</a>)</small></p>
{% else %}
<p><small>(<a href="{{url_for('browse.cookies', debug=1)}}">show additional debugging information</a>)</small></p>
{% endif %}

{% endblock content %}
