<form id="search-arxiv" method="get" action="{{ url_for('search_box') }}">
  <div class="wrapper-search-arxiv">
    <input class="keyword-field" type="text" name="query" placeholder="Search or Article ID" />
    <div class="filter-field">
      <select name="searchtype">
        <option value="all">All fields</option>
        <option value="title">Title</option>
        <option value="author">Author(s)</option>
        <option value="abstract">Abstract</option>
        <option value="comments">Comments</option>
        <option value="journal_ref">Journal reference</option>
        <option value="acm_class">ACM classification</option>
        <option value="msc_class">MSC classification</option>
        <option value="report_num">Report number</option>
        <option value="paper_id">arXiv identifier</option>
        <option value="doi">DOI</option>
        <option value="orcid">ORCID</option>
        <option value="author_id">arXiv author ID</option>
        <option value="help">Help pages</option>
        <option value="full_text">Full text</option>
      </select>
    </div>
    <input class="btn-search-arxiv" value="" type="submit">
    <div class="links">(<a href="{{ url_for('help') }}">Help</a> | <a href="{{ url_for('search_advanced') }}">Advanced search</a>)</div>
  </div>
</form>
