<div class="slider-wrapper" style="display:none">
  <a class="close-slider" href="#"><img src="{{ url_for('static', filename='images/icons/close-slider.png') }}"></a>
  <div class="copy-donation">
    <h1>Donate to arXiv</h1>
    <p>
      Please join the <a href="https://simonsfoundation.org">Simons Foundation</a> and our
      generous <a href="https://confluence.cornell.edu/x/ALlRF">member organizations</a>
      in supporting arXiv during our giving campaign. 100% of your contribution will fund
      improvements and new initiatives to benefit arXiv's global scientific community.
    </p>
  </div>
  <div class="amount-donation">
    <div class="wrapper">
      <div class="donate-cta"><a class="banner_link" href="https://bit.ly/arXivDONATE1"><b>DONATE</b></a>
        <p>[secure site, no need to create account]</p>
      </div>
    </div>
  </div>
</div>
