{#- How to use the user_banner

The content() and script() macro get added to the base.html.

The content() elements will be added at the start of the <body> above the
header in base.html.

The script() elements will be added to the <head> in the base.html. This has
additional CSS and JS files for the banner slide in and out effects.

In those macros are responsible for all checks of the start and end times. Make
sure to use the same date conditionals in the user_banner.content() macro and
the user_banner.script() macro.

This no longer uses env vars set in browse.config or httpd/conf/ng_flask.conf on
production.

Adding an environment var, so we can enable only on gcp.
-#}

{# Banner variables - if you just want a default banner #}
{% set BANNER_1_NAME = "mysqlupgrade" %}
{# Set these variables to a string of YYYYMMDD of the start and end date #}
{% set BANNER_START_1 = 202509150000 %} {#  8/15 now #}
{% set BANNER_END_1   = 202509172350 %} {#  8/17 end of day#}
{% set BANNER_1_TITLE = "The Scheduled Database Maintenance 2025-09-17 11am-1pm UTC has been completed" %}
{% set BANNER_1_TEXT = "" %}
{% set BANNER_1_BUTTON_TEXT = "Blog post" %}
{% set BANNER_1_BUTTON_LINK = "https://blog.arxiv.org/2025/09/16/arxiv-org-maintenance-sep-17-2025" %}

{% set BANNER_2_NAME = "opt-in" %}
{# Set these variables to a string of YYYYMMDD of the start and end date #}
{% set BANNER_START_2 = 202009120000 %} {#  9/12  start of day,    disabled by #}
{% set BANNER_END_2 = 202009302350 %}   {#  9/30 end of day,       editing to year 2020 #}

{% set SLIDE = True %}

{%- macro banner_1_content(request_datetime) -%}
    {%- set now=request_datetime.strftime("%Y%m%d%H%M")|int -%}

    {%- if now >= BANNER_START_1 and now < BANNER_END_1 -%}
      <aside class="slider-wrapper bps-banner forum blue">
        <a class="close-slider do-close-slider bps-banner" href="#"><img src="{{ url_for('static', filename='images/icons/close-slider.png') }}" alt="close this message"></a>
       <div class="columns">
          <img role="presentation" class="bps-banner-image" src="{{ url_for('static', filename='images/icons/smileybones-pixel.png') }}" alt="arXiv smileybones">
          <div class="copy-donation bps-banner">
            <h2>{{BANNER_1_TITLE}}</h2>
            <ul>
            <li>The scheduled database maintenance has been completed.</li>
            <li>We recommend that all users <a href=”https://logout”>logout</a> and login again..</li>
            </ul>
            <p>{{BANNER_1_TEXT}}</p>
          </div>
          <div class="amount-donation bps-banner">
            <div class="donate-cta"><a class="banner_link banner-btn-grad" target="_blank" href="{{BANNER_1_BUTTON_LINK}}"><b>{{BANNER_1_BUTTON_TEXT}}</b></a></div>
          </div>
        </div>
      </aside>
    {%- endif -%}

{%- endmacro -%}

{%- macro banner_2_content(request_datetime) -%}
  {%- set now=request_datetime.strftime("%Y%m%d%H%M")|int -%}
  {%- if now >= BANNER_START_2 and now < BANNER_END_2 -%}
    <aside id="opt-in-banner" class="slider-wrapper bps-banner forum ">
      <a class="close-slider do-close-slider bps-banner" href="#">
        <img src="{{ url_for('static', filename='images/icons/close-slider.png') }}" alt="close this message">
      </a>
      <div class="columns">
        <img role="presentation" class="bps-banner-image" src="{{ url_for('static', filename='images/icons/smileybones-pixel.png') }}" alt="arXiv smileybones">
        <div class="copy-donation bps-banner">
          <h2>Opt-in to Data Collection for Research</h2>
          <p id="opt-in-message">arXiv is working with academic researchers to investigate ways to
            improve the service for our users. This requires a rich dataset to
            better inform the research. Users who wish to contribute to the
            future of arXiv may opt in to allow arXiv to use their reading
            data for research purposes. By clicking ‘I agree’ below, you
            consent to your reading data being collected, retained, and
            processed by arXiv and shared with researchers conducting
            research in the public interest. Reading data will never be
            shared publicly or otherwise incorporated into public systems
            in a personally identifiable format. Research use cases include
            developing privacy-preserving recommendation systems for arXiv.
            For more information, see the
            <a target="_blank" href="https://info.arxiv.org/help/policies/privacy_policy.html">
              <b>arXiv Privacy Policy</b></a>.
          </p>
          <p>
            <a id="opt-in-registration" href="#"><strong>I Agree</strong></a>
            <span id="opt-in-enrolled" style="display:none;">
              <strong>ENROLLED</strong> <a id="opt-out" href="#">(OPT OUT?)</a>
            </span>
          </p>
        </div>
      </div>
    </aside>
  {%- endif -%}
{%- endmacro -%}

{# Wrapper content macro #}
{%- macro content(request_datetime) -%}
  {{ banner_1_content(request_datetime) }}
  {{ banner_2_content(request_datetime) }}
{%- endmacro -%}

{%- macro banner_1_script(request_datetime) -%}

  {%- set now=request_datetime.strftime("%Y%m%d%H%M")|int -%}
  {%- if (SLIDE and (BANNER_START_1|int <= now) and (BANNER_END_1|int > now)) -%}

    {# to pass config data to the js #}
    <meta
      id="banner-config"
      data-banner-name="{{ BANNER_1_NAME }}"
      data-banner-end="{{ BANNER_END_1 }}">

    {# only run this script while a banner is active #}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/slider.css') }}?v=20250312">
    <script src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/donate.js') }}?v=20250813"></script>
  {%- endif -%}
{%- endmacro -%}

{%- macro banner_2_script(request_datetime) -%}

  {%- set now=request_datetime.strftime("%Y%m%d%H%M")|int -%}
  {%- if (SLIDE and (BANNER_START_2|int <= now) and (BANNER_END_2|int > now)) -%}

    {# to pass config data to the js #}
    <meta
      id="banner-config"
      data-banner-name="{{ BANNER_2_NAME }}"
      data-banner-end="{{ BANNER_END_2 }}">

    <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/slider.css') }}?v=20250312">
    <script src="//code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/donate.js') }}?v=040725"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/optin.js') }}?v=20250819"></script>
  {%- endif -%}
{%- endmacro -%}

{# Wrapper script macro #}
{%- macro script(request_datetime) -%}
  {{ banner_1_script(request_datetime) }}
  {{ banner_2_script(request_datetime) }}
{%- endmacro -%}


<!-- example banner setup

    <aside class="slider-wrapper bps-banner forum blue">
      <a class="do-close-slider close-slider bps-banner" href="#"><img src="{{ url_for('static', filename='images/icons/close-slider.png') }}" alt="close this message"></a>
      <div class="columns">
        <img role="presentation" class="bps-banner-image" src="{{ url_for('static', filename='images/icons/smileybones-infinity-large.png') }}" alt="arXiv Accessibility Forum 2024">
        <div class="copy-donation bps-banner">
          <h2>The Accessibility Forum is back!</h2>
          <p>Coming this September, the Forum is free, virtual, and open to all. <a target="_blank" href="https://cornell.ca1.qualtrics.com/jfe/form/SV_eEZ1d27LF2fVM7Y">Sign Up</a> and <a href="https://accessibility2024.arxiv.org/" target="_blank">Learn more</a>.</p>
        </div>
        <div class="amount-donation bps-banner">
          <div class="donate-cta"><a class="banner_link banner-btn-grad" target="_blank" href="https://cornell.ca1.qualtrics.com/jfe/form/SV_eEZ1d27LF2fVM7Y"><b>Sign Up</b></a></div>
        </div>
      </div>
    </aside>

  -->
