{#- How to use the user_banner

The content and script macro will be added to the base.html. In those macros are
responsable for all checks of the start and end times.

The banner will be shown from the first second of BANNER_START until the last
second of BANNER_END

Setting these will also cause an additonal CSS file to be loadded that slides
the header away.

This no longer uses env vars set in httpd/conf/ng_flask.conf on production.
-#}

{# Set these variables to a string of YYYYMMMDD of the start and end date #}
{% set BANNER_START = '20230103' %}
{% set BANNER_END = '20230303' %}

{# accessibility CTA banner #}
{%- macro content(request_datetime) -%}
{%- if BANNER_START < request_datetime.strftime('%Y%m%d') and BANNER_END > request_datetime.strftime('%Y%m%d') %}
<aside class="slider-wrapper bps-banner dark" style="display:none">
  <a class="close-slider bps-banner" href="#"><img src="{{ url_for('static', filename='images/icons/close-slider.png') }}" alt="close this message"></a>
  <div class="copy-donation bps-banner">
    <h1>arXiv Forum: How do we make accessible research papers a reality?</h1>
    <p>Can we truly call it "Open Science" when most research papers are not fully accessible? <a href="https://info.arxiv.org/about/accessibility_forum.html">Join the forum</a> on Monday April 17 to chart a path towards truly accessible research papers.</p>
  </div>
  <div class="amount-donation bps-banner">
    <div class="wrapper">
      <div class="donate-cta"><a class="banner_link banner-btn-grad" target="_blank" href="https://info.arxiv.org/about/accessibility_forum.html"><b>Learn More</b></a>
      </div>
    </div>
  </div>
</aside>
{%- endif -%}
{%- endmacro -%}

{# donation banner #}
<!--<aside class="slider-wrapper bps-banner" style="display:none">
  <a class="close-slider bps-banner" href="#"><img src="{{ url_for('static', filename='images/icons/close-slider.png') }}" alt="close this message"></a>
  <div class="copy-donation bps-banner">
    <img role="presentation" class="banner-smileybones-icon" width="50" src="{{ url_for('static', filename='images/icons/smileybones-pixel.png') }}" alt="arXiv smileybones icon" />
    <h1>Global Survey</h1>
    <p>In just 3 minutes help us understand <a href="https://cornell.ca1.qualtrics.com/jfe/form/SV_9BJDfYPfmvvSAGq?continent={{ session['continent']['name'] if ('continent' in session and session['continent'] != None) else '' }}" target="_blank">how you see arXiv</a>.</p>
  </div>
  <div class="amount-donation bps-banner">
    <div class="wrapper">
      <div class="donate-cta"><a class="banner_link banner-btn-grad" target="_blank" href="https://cornell.ca1.qualtrics.com/jfe/form/SV_9BJDfYPfmvvSAGq?continent={{ session['continent']['name'] if ('continent' in session and session['continent'] != None) else '' }}"><b>TAKE SURVEY</b></a>
      </div>
    </div>
  </div>
</aside>-->


{# downtime #}
<!--<aside class="slider-wrapper" style="display:none">
  <a class="close-slider" href="#"><img src="{{ url_for('static', filename='images/icons/close-slider.png') }}" alt="close this message"></a>
  <p><strong>Attention Users</strong>: at 8AM ET / 12PM UTC on Friday, June 21, the submission system will be unavailable for approximately 30 minutes for routine maintenance.</p>
</aside>
-->

{%- macro script(request_datetime) -%}
{%- if BANNER_START < request_datetime.strftime('%Y%m%d') and BANNER_END > request_datetime.strftime('%Y%m%d') %}
  <link rel="stylesheet" type="text/css" media="screen" href="{{ url_for('static', filename='css/slider.css') }}?v=1.1" />
  <script language="javascript" src="//code.jquery.com/jquery-latest.min.js"></script>
  <script language="javascript" src="{{ url_for('static', filename='js/donate.js') }}"></script>
{%- endif -%}
{%- endmacro -%}
