{%- extends "base/base.html" %}

{% import 'base/macros.html' as base_macros %}

{% set pagetitle %}{{archive.name}} statistics for {{year}}{% endset %}

{#- build breadcrumb items as link : label pairs, excluding home and current page -#}
{% set breadcrumb = {
  url_for('.list_articles', context=archive_id, subcontext='recent') : archive.name,
} %}

{% block content %}
<h1>{{archive.name}} statistics for {{year}}</h1>
<p>Available montly lists with counts of <strong>{{archive_id}} articles</strong>
  + <em>cross-listings to {{archive_id}}</em> in {{year}}
  (each '|' represents 20 articles):</p>

<ul>
 {% for month in months %}
    <li>
      <a href="{{month['url']}}">{{month['yymm']}}
      </a>
      {% for txt, url in month['art'] -%}
        {%- if url  -%}
          <a href={{url}}>{{txt}}</a>
        {%- else -%}
          {{txt}}
        {%- endif -%}
      {%- endfor %}
      <strong>{{month['new']|default('0',true)}}</strong> + {{month['cross']|default('0',true)}}
  </li>
  {% endfor %}
</ul>

<p>{{year}} totals: <b>{{listing['new_count']|default('unknown')}} articles</b> + <i>{{listing['cross_count']|default('unknown')}} cross-lists</i></p>

<h3>Other years:</h3>
<p>Article statistics by year:<br>
{% for url, year in stats_by_year %}
  {% if url %}
    <a href="{{url}}">{{year}}</a>
    {% else %}
    {{year}}
  {% endif %}
{% endfor %}
</p>

{% endblock %}
