<script>
  // Restore the saved color scheme preference, or
  // enact the browser preference if "automatic", 
  // without expecting DOM load to have completed.
  //
  // Also restore any saved readingmode and ToC display preferences.
  function initializeReadingPreferences() {
    let saved_theme = localStorage.getItem("ar5iv_theme") || "automatic";
    if (saved_theme === "automatic") {
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        saved_theme = "dark";
      }
    }
    if (saved_theme == "dark") {
      document.documentElement.setAttribute("data-theme", "dark");
    } else {
      document.documentElement.setAttribute("data-theme", "light");
    }

    const tocDisplay = localStorage.getItem('arxiv_html_paper_toc_display');
    if (tocDisplay) {
      document.documentElement.setAttribute("data-toc-display", tocDisplay);
    }
    const readingMode = localStorage.getItem('arxiv_html_paper_reading_mode');
    if (readingMode) {
      document.documentElement.setAttribute("data-reading-mode", readingMode);
    }
  }
  // Run as soon as JS starts, to minimize repainting
  initializeReadingPreferences();
</script>
<link rel="apple-touch-icon" sizes="180x180"
  href="{{ url_for('static', filename='images/icons/apple-touch-icon.png') }}">
<link rel="icon" type="image/png" sizes="32x32"
  href="{{ url_for('static', filename='images/icons/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16"
  href="{{ url_for('static', filename='images/icons/favicon-16x16.png') }}">
<link rel="manifest" href="{{ url_for('static', filename='images/icons/site.webmanifest') }}">
<link rel="mask-icon" href="{{ url_for('static', filename='images/icons/safari-pinned-tab.svg') }}" color="#5bbad5">
<link rel="stylesheet" type="text/css" media="screen" href="https://use.typekit.net/utz6mli.css">
{# {{ user_banner.script(request_datetime) }} #}