{% extends "base.html" %}

{%- block title -%}
{%- endblock -%}

{% block head %}
  {{ super() }}
{% endblock head %}

{% block content %}

<h1>Tell us what you think</h1>
<p>Let us know how arXiv is working for you. We appreciate your feedback.</p>

<script type="text/javascript" src="https://arxiv-org.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/ghu3za/b/20/a44af77267a987a660377e5c46e0fb64/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=7a070c4b"></script>

<script type="text/javascript">window.ATL_JQ_PAGE_PROPS =  {
	"triggerFunction": function(showCollectorDialog) {
		//Requires that jQuery is available!
		jQuery("#myCustomTrigger").click(function(e) {
			e.preventDefault();
			showCollectorDialog();
		});
}};</script>

{%- endblock -%}
