{%- extends "base.html" -%}
{% block title %}arXiv.org e-Print archive{% endblock %}
{% block head %}
  {{ super() -}}
{% endblock head %}

{% block login_link %}{% include 'login.html' %}{% endblock %}
{% block body_id %}id="front"{% endblock %}

{%- block content %}
{#- TODO: display order in taxonomy? -#}

<div class="columns">
  <div class="column intro-and-news is-half-desktop">
    <p class="tagline">arXiv is a free distribution service and an open-access archive for {% if document_count -%}{{ "{:,}".format(document_count) }}{%- endif %}
     scholarly articles in the fields of physics, mathematics, computer science, quantitative biology, quantitative finance, statistics, electrical engineering and systems science, and economics.
     Materials on this site are not peer-reviewed by arXiv.
    </p>

    {#-  /multi sends to either search, catchup or form interface based on which button is hit. -#}
    <form name="home-adv-search" class="home-search" action="/multi" method="get" role="search">
      <label for="search-category">Subject search and browse:</label><br>
      <select name="group" title="Search in" id="search-category">
      {%- for group_key, group_details in groups.items() if not group_details.is_test %}
        <option
            value ="{{group_key}}"
            data-url="{{url_for('search_archive', archive=group_key[4:])}}"
            {% if group_key == 'grp_physics' %}selected="selected"{% endif %}>
          {{ group_details.name }}
        </option>
        {%- endfor %}
      </select>
      <input id="adv-search-btn" type="button" value="Search">
      <input type="submit" name="/form" value="Form Interface">
      <input type="submit" name="/catchup" value="Catchup">
    </form>
    <script type="text/javascript">
     function doAdvSearchBtn(event) {
         sel = document.querySelector('select[name="group"]')
         if(sel && sel.options && sel.options[sel.selectedIndex].dataset.url ){
             data_url = sel.options[sel.selectedIndex].dataset.url
             if( data_url ){
                 window.location = data_url;
             }else{
                 console.error('home page search button: no data_url found for search');
             }
         }
     }
     document.addEventListener('DOMContentLoaded',function() {
         document.getElementById('adv-search-btn').onclick=doAdvSearchBtn;
     },false);
    </script>
    <h4 class="homepage-news-title">News</h4>
    <!-- special news section -->
    {%- include "home/news.html" -%}
    <div>
      Read about recent news and updates on <a href="https://blog.arxiv.org/" target="_blank">arXiv's blog</a>.
      (View the former <a href="{{url_for('new')}}">"what's new" pages</a> here).
    </div>
  </div>
  <!-- special message column -->
  {%- include "home/special-message.html" -%}
</div><!-- /end columns -->

{#- TODO: define display order in taxonomy? -#}
{{- group_section(('grp_physics','grp_math','grp_cs','grp_q-bio','grp_q-fin','grp_stat','grp_eess','grp_econ')) }}

<hr />
<h2>About arXiv</h2>
<ul>
  <li><a href="{{- url_for('about') -}}">General information</a></li>
  <li><a href="{{- url_for('help_submit') -}}">How to Submit to arXiv</a></li>
  <li><a href="{{- url_for('new') -}}">News</a></li>
  <li><a href="{{- url_for('about_give') -}}">Membership &amp; Giving</a></li>
  <li><a href="{{- url_for('about_people') -}}">Who We Are</a></li>
</ul>

{% endblock content -%}

{%- macro group_section(group_keys) -%}
  {%- for group_key in group_keys -%}
  <h2>{{ groups[group_key].name }}</h2>
  <ul>
    {% for archive_key, archive_details in archives.items()|sort(attribute='1.name') if archives[archive_key].in_group == group_key  %}
      {%- set archive_search_url = url_for('search_archive', archive=archive_key) -%}
      {%- set archive_url = url_for('browse.archive', archive=archive_key) if archive_key != 'cs' else 'https://info.arxiv.org/help/cs/index.html' -%}
      {%- set archive_name = archives[archive_key].name if archive_key != 'cs' else 'Computing Research Repository' -%}
    <li>
      <a href="{{ archive_url }}" id="main-{{ archive_key }}" aria-labelledby="main-{{ archive_key }}">{{ archive_name }}</a>
      (<strong id="{{ archive_key }}">{{ archive_key if archive_key != 'cs' else 'CoRR' }}</strong>
      <a id="new-{{ archive_key }}" aria-labelledby="new-{{ archive_key }} {{ archive_key }}" href="/list/{{ archive_key }}/new">new</a>,
      <a id="recent-{{ archive_key }}" aria-labelledby="recent-{{ archive_key }} {{ archive_key }}" href="/list/{{ archive_key }}/recent">recent</a>,
      <a id="search-{{ archive_key }}" aria-labelledby="search-{{ archive_key }} {{ archive_key }}" href="{{ archive_search_url }}">search</a>
      {% if 0 %},<a href="/catchup?archive={{ archive_key }}&amp;sdaysback=30&amp;num=2000&amp;order=reverse&amp;method=without">last month</a>{% endif %})
      {%- if group_key == 'grp_physics' and archive_key not in categories  -%}
      <br/>includes:
      {%- elif group_key == 'cs' -%}
      <br/>includes (see <a href="{{url_for('archive', archive=archive_key)}}" id="details-{{ archive_key }}" aria-labelledby="details-{{ archive_key }} main-{{ archive_key }}">detailed description</a>):
      {%- elif group_key != 'grp_physics' -%}
      <br/>includes (see <a href="{{url_for('desc_' ~ archive_key)}}" id="details-{{ archive_key }}" aria-labelledby="details-{{ archive_key }} main-{{ archive_key }}">detailed description</a>):
      {%- endif -%}

      {% for category_key, category_details in categories.items()|sort(attribute='1.name') if categories[category_key].in_archive == archive_key %}
      {% if not (loop.first and loop.last and group_key == 'grp_physics') %}<a href="/list/{{ category_key }}/recent" id="{{ category_key }}" aria-labelledby="main-{{ archive_key }} {{ category_key }}">{{ categories[category_key].name }}</a>{% if not loop.last %}; {% endif %}{% endif %}
      {% endfor %}
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
{%- endmacro -%}
