{#- News blurbs appear at the top of the home page. Generally there should be no more than four items. -#}
14 Jun 2019: <strong>Attention Users</strong>: there will be intermittent service disruptions on Sunday, June 16 due to <a href="https://it.cornell.edu/news/cit-data-center-router-upgrade-impacting-service-june-16-2019/20190607">network maintenance</a><br/>
12 Jun 2019: <a href="http://bit.ly/arXivExecutiveDirector3">We are hiring: Executive Director of arXiv</a><br/>
11 Jun 2019: <a href="https://arxiv.org/new/#june11_2019">Announcing a new category and category mergers</a><br/>
20 May 2019: <a href="http://bit.ly/arXivEngineer4">We are hiring: arXiv Service Reliability Engineer</a><br/>
