{#- Special messages appear in a column to the side of the website intro/news section,
  each in their own column. Always apply the style "message-special" to the column.
  You can also apply the style "dark" to override the red styles and add a message with a black background instead.
  There can be just one, never more than two. -#}

{%- set rd_int = request_datetime.strftime("%Y%m%d%H%M")|int -%}

<div class="message-special dark column">
  <span class="label">arXiv News</span>
  <p>Stay up to date with what is happening at arXiv on our blog.</p>
  <p><a href="https://blog.arxiv.org/">Latest news</a></p>
</div>

{%- if rd_int >= 202311270100 and rd_int <= 202311290100 -%}
<div class="message-special column">
  <span class="label">Global survey</span>
  <p>Each year, arXiv takes the pulse of how we are serving the global community. In just 4 minutes help us understand how you see arXiv.</p>
  <p><a class="btn-slim" target="_blank" href="https://cornell.ca1.qualtrics.com/jfe/form/SV_8wAZvATbZvWU2vc">Take survey</a></p>
</div>
{%- endif -%}

{%- if config['BROWSE_SPECIAL_MESSAGE_ENABLED'] and rd_int >= 202210010100 and rd_int <= 202212300100 -%}
<div class="message-special dark column">
  <span class="label">arXiv is moving!</span>
  <p>Experience the future with our cloud-powered app today!</p>
  <p>
      Stay tuned for
      <a href="https://info.arxiv.org/about/index.html">updates</a>
      on our migration timeline.
  </p>
</div>
{%- endif -%}
