{#- Special messages appear in a column to the side of the website intro/news section,
  each in their own column. Always apply the style "message-special" to the column.
  You can also apply the style "dark" to override the red styles and add a message with a black background instead.
  There can be just one, never more than two. -#}

{%- set rd_int = request_datetime.strftime("%Y%m%d%H%M")|int -%}

<div class="message-special dark column">
  <span class="label">arXiv News</span>
  <p>Stay up to date with what is happening at arXiv on our blog.</p>
  <p><a href="https://blog.arxiv.org/">Latest news</a></p>
</div>

{%- if rd_int >= 202310120100 and rd_int <= 202310220100 -%}
<div class="message-special column">
  <span class="label">arXiv is hiring!</span>
  <p>We are looking for a full time Production Editor to join arXiv staff.</p>
  <p><a href="https://cornell.wd1.myworkdayjobs.com/en-US/CornellCareerPage/job/arXiv-Production-Editor--Cornell-Tech--NYC-_WDR-00040646">View role</a></p>
</div>
{%- endif -%}

{%- if config['BROWSE_SPECIAL_MESSAGE_ENABLED'] and rd_int >= 202210010100 and rd_int <= 202212300100 -%}
<div class="message-special dark column">
  <span class="label">arXiv is moving!</span>
  <p>Experience the future with our cloud-powered app today!</p>
  <p>
      Stay tuned for
      <a href="https://info.arxiv.org/about/index.html">updates</a>
      on our migration timeline.
  </p>
</div>
{%- endif -%}
