# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python application

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version-file: "pyproject.toml"

    - name: install debian packages
      run:  |
        sudo apt-get update
        sudo apt-get install build-dep python3-lxml

    - name: Install uv
      uses: astral-sh/setup-uv@v6

    - name: Install the project
      run: uv sync --locked --all-extras --dev

    - name: Test with pytest
      run: |
        uv run pytest --cov=browse --cov-fail-under=80 tests

    - name: Ruff lint check
      run: |
        pip install ruff
        ruff check --output-format=github browse
